// FONTS
// Raleway
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Raleway:wght@100;200;300;400;500;700&display=swap';
    $main-font: 'Poppins',
  sans-serif;
$second-font: 'Raleway', sans-serif;
