// Mixins
@use './variables' as *;
@use './fonts' as *;

// ------------------------------------------
// How use mixins
// .button {
//   @include btn($red-color, $main-color, $main-color);
// }

// ------------------------------------------
// ------------------------------------------

// Define here all mixins you used to build your component

// ------------------------------------------
// Button
// ------------------------------------------
@mixin btn($background, $text-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;
  color: $text-color;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: $main-font;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

@mixin btn-hover($background, $text-color) {
  background: $background;
  color: $text-color;
  transition: all 0.3s ease-in-out;
}

// ------------------------------------------
// SearchBox
// ------------------------------------------

@mixin searchBoxInput($background, $border-color) {
  width: 100%;
  border-radius: 3rem;
  padding: 0.4rem 3rem;
  height: 100%;
  background-color: $background;
  border: 1px solid $border-color;
  font-size: 0.8rem;

  &::placeholder{
    font-size: 0.8rem;
    color: $grey-dark-color;
  }
  &:focus {
    outline: none;
  }
  &::-webkit-search-cancel-button {
    // If you want display or not cross in searchbox
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
      no-repeat 50% 50%;
    background-size: contain;
    cursor: pointer;
  }
}

// ------------------------------------------
// Fonts, Title, p,....
// ------------------------------------------

@mixin titleH1($text-color: $main-color) {
  color: $text-color;
  font-weight: 800;
  font-size: 4rem;
}

@mixin titleH2($text-color: $main-color) {
  color:$text-color;
  font-weight: 600;
  font-size: 1.2rem;
}

@mixin titleH3($text-color: $purple-algolia) {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: $text-color;
  text-transform: uppercase;
}

@mixin p-text($text-color: 'black', $font-weight: 500) {
  font-size: 1rem;
  font-weight: $font-weight;
  color: $text-color;
}


// ------------------------------------------
// Federated
// ------------------------------------------
@mixin p-text-federated($text-color: $main-color) {
    @include p-text($text-color);
    font-weight: 300;
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;
    &:hover{
        font-weight: bold;
        transition: all 0.2s ease-in-out;
    }
}
  

// ------------------------------------------
// Header
// ------------------------------------------

@mixin underliningAnimation($underline-color) {
  &::before {
    content: '';
    position: absolute;
    background-color: $underline-color;
    height: 2px;
    border-radius: 3rem;
    width: 100%;
    bottom: -0.5rem;
    transform-origin: center center;
    transform: scaleX(0);
    transition: transform 0.4s;
  }
  &:hover::before {
    transition: 0.2 ease-in-out;
    transform-origin: center center;
    transform: scaleX(1);
  }
}

@mixin selectedNavItem($underline-color){
  &::before {
    content: '';
    position: absolute;
    background-color: $underline-color;
    height: 2px;
    width: 100%;
    bottom: -0.5rem;
    transform: scaleX(1);
  }
}


// ------------------------------------------
// Carousel
// ------------------------------------------

@mixin carouselWrapper {
  display: grid;
  gap: 1rem;
  margin: 0;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  grid-auto-columns: 20%;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 0.5rem 0;
  height: 100%;

  @include scrollBar()

}

@mixin scrollBar{
  &::-webkit-scrollbar{
    background-color: $grey-light-color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0px 28px 0px $background-color;
    width: 100%;
    height: 30px;
    
  }
  &::-webkit-scrollbar-thumb{
    background-color: $purple-algolia;
    box-shadow: inset 0px 28px 0px $background-color;
  }
  
}

// ------------------------------------------
// SearchResult Page
// ------------------------------------------
// ------------------------------------------
// Stat Widget
// ------------------------------------------
@mixin stats($span-color) {
  display: flex;
  font-size: 0.8rem;
  font-style: italic;
  &__list {
    display: flex;
    span {
      color: $span-color;
      font-weight: 600;
      font-size: 0.8rem;
    }
    p {
      margin-left: 0.5rem;
      font-size: 0.8rem;
    }
  }
}

// ------------------------------------------
// Pagination Widget
// ------------------------------------------
@mixin pagination($background-color) {
  .ais-Pagination-list {
    margin-top: 2rem;
    display: flex;
    .ais-Pagination-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $background-color;
      padding: 0.8rem;
      border-radius: 3rem;
      margin-right: 1rem;
      background: $background-color;
      height: 15px;
      width: 15px;
      span, a{
        font-size: 0.8rem;
        color: $white-color;
      }
    }
    .ais-Pagination-item--selected {
      background: white;

      a,span{
        color: $purple-algolia;
      }

     
    }
  }
}

// ------------------------------------------
// Banner search result page
// ------------------------------------------
@mixin bannerSrp($text-color) {
  &__infos {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 100%;
    flex-direction: column;
    margin-right: 1rem;
    h3 {
      color: $white-color;
      font-weight: 800;
      font-size: 2rem;
    }
    p {
      color: $white-color;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

// ------------------------------------------
// Hits
// ------------------------------------------
@mixin hit($title-color, $price-color, $highlight-color, $shadow) {
  width: 100%;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: box-shadow 0.3s ease-in-out;
  padding: 1rem;
  border-radius: 0.5rem;

  &__imgWrapper, .image-wrapper {
    overflow: hidden;
    margin: 1rem;
    img {
      @include productImage()
    }
    &__heart {
      @include heartIcon($purple-algolia)
    }
    .mainImage-opacity {
      animation: fadeOutImage 0.7s forwards ease-in-out;
    }
    .mainImage-visible {
      animation: fadeInImage 0.9s forwards ease-in-out;
    }
  }
  &__infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    margin: 1rem 0;
    cursor: pointer;
  }
  &__infosUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
  }
}

@mixin hitHoverEffect {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transition: box-shadow 0.3s ease-in-out;
}

@mixin productImage {
  width: clamp(8rem, 10rem, 12rem);
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

@mixin productName($productName-color: $grey-dark-color) {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0 auto;
  text-transform: capitalize;
  .ais-Highlight-nonHighlighted {
    color: $productName-color;
  }
  .ais-Highlight-highlighted {
    @include highlight($purple-algolia);
  }
}

@mixin brand($brand-color: $main-color) {
  color: $brand-color;
  font-weight: 700;
  font-size: 0.6rem;
  text-transform: capitalize;
}

@mixin price($price-color: $purple-algolia) {
  color: $price-color;
  font-weight: 700;
  font-size: 1rem;
}

@mixin colorName($color-name: $main-color) {
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: capitalize;
}

@mixin highlight($highlight-color : $purple-algolia) {
  color: $highlight-color;
  font-style: normal;
  font-weight: 600;
}

@mixin truncateText($height: 5, $nbOfLines: 4) {
  overflow:hidden;
  max-height: $height;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: $nbOfLines;
  
}

@mixin heartIcon($fill-color: $grey-dark-color ) {
  position: absolute;
  top: 1rem;
  right: 1rem;
  svg {
    cursor: pointer;
    width: 0.8rem;
    path {
      fill: $fill-color;
    }
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutImage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}


// ------------------------------------------
// Injected content 
// ------------------------------------------
@mixin salesCard($text-color) {
  position: relative;
  &__infos {
    position: absolute;
    padding: 0 0.6rem;
    bottom: 3rem;
    p {
      color: $text-color;
      font-size: 0.7rem;
      font-weight: 800;
    }
    h3 {
      color: $text-color;
      font-weight: 900;
      font-size: 1.9rem;
      margin-top: 1rem;
    }
  }
}

@mixin infosSalesCard($text-color) {
  position: absolute;
  padding: 1rem 1rem;
  bottom: 0;
  p {
    color: $text-color;
    font-weight: 500;
    font-size: 1rem;
  }
  h4 {
    color: $text-color;
    font-weight: 500;
    font-size: 1.5rem;
  }
  h3 {
    color: $text-color;
    font-weight: 800;
    font-size: 2rem;
  }
}

// ------------------------------------------
// Facets
// ------------------------------------------
@mixin facetsFilter($background, $text-color, $nb-hit-color) {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: $background;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: $main-font;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  p {
    color: $text-color;
    font-size: 0.9rem;
    font-weight: 100;
    text-align: left;
    text-transform: capitalize;
  }
  span {
    color: $nb-hit-color;
    font-size: 0.7rem;
  }
}

@mixin facetsTitle($text-color){
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $text-color;
  margin: 2rem 0 1rem 0;

}

@mixin refinedFacet($background, $text-color){
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background;
  color: $text-color;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: $main-font;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

@mixin facetsHover($background) {
  background: $background;
  transition: background 0.2s ease-in-out;
}




// Hamburger menu
@mixin hamburger-menu {
  display: flex;
  position: absolute;
  top: 1.5rem;
  left: 1.1rem;
  height: fit-content;
  flex-direction: column;
  z-index: 999;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  :nth-child(1) {
    transform: translateY(-0.2rem);
  }
  :nth-child(3) {
    transform: translateY(0.2rem);
  }

  &__line {
    background-color: $purple-algolia;
    height: 2px;
    width: 1rem;
  }
}

@mixin hamburger-menu-inactive {
  transition: 0.3s ease-in-out;
  :nth-child(1) {
    transform: rotateZ(0deg);
    transform: translateY(-0.2rem);
    transform-origin: center center;
    transition: 0.3s ease-in-out;
  }
  :nth-child(2) {
    transform: rotateZ(0deg);
    transform-origin: center center;
    transition: 0.3s ease-in-out;
  }
  :nth-child(3) {
    opacity: 1;
    transform: translateY(0.2rem);
    transition: 0.3s ease-in-out;
  }
}

@mixin hamburger-menu-active {
  transition: 0.3s ease-in-out;
  :nth-child(1) {
    transform: rotateZ(45deg) translateX(1px);
    transform-origin: center center;
    transition: 0.3s ease-in-out;
  }
  :nth-child(2) {
    transform: rotateZ(-45deg) translateX(1px);
    transform-origin: center center;
    transition: 0.3s ease-in-out;
  }
  :nth-child(3) {
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
}



// ------------------------------------------
// Utility classes
// ------------------------------------------
@mixin visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

@mixin hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@mixin overlay($background) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background;
  z-index: 10;
  
}
