.error-modal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BasketContent {
    width: 80%;
}

.BasketContent > h5 {
    text-align: center;
    font-size: 18px;
    color: red;
}

.Overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    z-index: 900;
    display: flex;
    padding-top: 120px;
    top: 0;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.Modal {
    position: relative;
    height: 100%;
    max-height: 525px;
}

.ModalContent {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
}

@media only screen and (min-width: 800px) {
    .ModalContent {
        width: 360px;
    }
  }