// Mixins
@use './variables.scss';
@use './fonts';

// ------------------------------------------
// How use mixins
// .button {
//   @include btn($red-color, $main-color, $main-color);
// }

// ------------------------------------------
// ------------------------------------------

// Define here all mixins you used to build you component

// ------------------------------------------
// Default
// ------------------------------------------

// ------------------------------------------
// Button
// ------------------------------------------
@mixin btn($background, $text-color, $border-color) {
  font-family: $main-font;
  font-weight: 700;
  border: 1px solid $border-color;
  text-decoration: none;
  color: $text-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0.8em;
  font-size: 0.7rem;
  background-color: $background;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin btn-hover($background, $text-color) {
  transition: all 0.4s ease-in-out;
  color: $text-color;
  background-color: $background;
}

// ------------------------------------------
// Search Boxs
// ------------------------------------------

@mixin searchBoxSimple($background, $border-color) {
  width: 100%;
  // margin: 1rem auto;
  border-radius: 8px;
  // border: 1px solid $border-color;
  padding: 0.6rem 3rem;
  height: 100%;
  background-color: $background;
  transition: 0.2s ease-in-out;
}

@mixin searchBoxCustom($background, $border-color, $text-color) {
  width: 100%;
  margin: 1rem auto;
  border-radius: 2px;
  border: 1px solid $border-color;
  padding: 0.6rem;
  background-color: $background;
  transition: 0.2s ease-in-out;
  color: $text-color;
}

// ------------------------------------------
// Fonts, Title, p,....
// ------------------------------------------
@mixin title($text-color) {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
// ------------------------------------------
// HomePage
// ------------------------------------------

// ------------------------------------------
// Header
// ------------------------------------------

// ------------------------------------------
// SearchBox
// ------------------------------------------

// ------------------------------------------
// Carousel
// ------------------------------------------

// ------------------------------------------
// SearchResult Page
// ------------------------------------------

@mixin stats($span-color) {
  display: flex;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-style: italic;
  &__list {
    display: flex;
    span {
      color: $span-color;
      font-weight: 600;
      font-size: 0.8rem;
    }
    p {
      margin-left: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
@mixin pagination($back-color) {
  .ais-Pagination-list {
    margin-top: 2rem;
    display: flex;
    .ais-Pagination-item {
      border: 1px solid $back-color;
      padding: 0.8rem;
      border-radius: 0.5rem;
      margin-right: 1rem;
      background-color: $back-color;
      color: white;
    }
    .ais-Pagination-item--selected {
      color: $back-color;
      background-color: white;
    }
  }
}

@mixin bannerSrp($text-color) {
  &__infos {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 100%;
    flex-direction: column;
    margin-right: 1rem;
    h3 {
      color: $white-color;
      font-weight: 800;
      font-size: 2rem;
    }
    p {
      color: $white-color;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

// ------------------------------------------
// Hits
// ------------------------------------------
@mixin hits-individual($title-color, $price-color, $higlight-color, $shadow) {
  width: 100%;
  display: block;
    &__img {
      position: relative;
      img {
        width: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
      }
      :hover {
        box-shadow: 0 0rem 5rem rgba($shadow, 0.2);
      }
      &__heart {
        position: absolute;
        top: 1rem;
        right: 1rem;
        svg {
          cursor: pointer;
          width: 12px;
          path{
            fill: $grey-dark-color;
          }
        }
      }
    }
    &__infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 5rem;
      width: 100%;
      margin: 1rem 0;
      h3 {
        font-weight: 300;
        font-size: 0.8rem;
        text-align: center;
        margin: 0 auto;
        text-transform: capitalize;
        .ais-Highlight-nonHighlighted {
          color: $title-color;
        }
        .ais-Highlight-highlighted {
          @include highlight($higlight-color);
        }
      }
      &__down {
        margin: 0 auto;
        text-align: center;
        p {
          color: $price-color;
          font-weight: 400;
          font-size: 1rem;
        }
      }
    }
  
}

@mixin highlight($higlight-color) {
  color: $higlight-color;
  font-style: normal;
  font-weight: 600;
}

@mixin salesCard($text-color) {
  position: relative;
  &__infos {
    position: absolute;
    padding: 0 0.6rem;
    bottom: 3rem;
    p {
      color: $text-color;
      font-size: 0.7rem;
      font-weight: 800;
    }
    h3 {
      color: $text-color;
      font-weight: 900;
      font-size: 1.9rem;
      margin-top: 1rem;
    }
  }
}

@mixin influencerCard($text-color) {
  position: absolute;
  padding: 1rem 1rem;
  bottom: 0;
  p {
    color: $text-color;
    font-weight: 500;
    font-size: 1rem;
  }
  h4 {
    color: $text-color;
    font-weight: 500;
    font-size: 1.5rem;
  }
  h3 {
    color: $text-color;
    font-weight: 800;
    font-size: 2rem;
  }
}

// ------------------------------------------
// Facets
// ------------------------------------------
@mixin facetsFilter($background, $text-color, $p-color, $span-color) {
  text-decoration: none;
  width: 100%;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0.8em;
  font-size: 0.7rem;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  cursor: pointer;
  color: rgba($text-color, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: initial;
  p {
    color: $p-color;
    font-size: 0.9rem;
    font-weight: 100;
    text-align: left;
  }
  span {
    color: $span-color;
    font-size: 0.7rem;
  }
}

@mixin facetsFilterHover($background) {
  background-color: $background;
}

@mixin facetsHierarchicalHover($background) {
  background-color: $background;
}

// Price Slider
@mixin priceSlider($color-slider) {
  .rc-slider-rail {
  }
  .rc-slider-track,
  .rc-slider-track-1 {
    background-color: $color-slider;
  }
  .rc-slider-step {
  }
  .rc-slider-handle-1 {
    border: solid 1px $color-slider;
  }
  .rc-slider-handle-2 {
    border: solid 1px $color-slider;
  }
  .rc-slider-handle-dragging {
    box-shadow: (0 0 0 3px $color-slider);
  }
}
