// Mixins
@import './variables.scss';
@import './fonts';

// ------------------------------------------
// How use mixins
// .button {
//   @include btn($red-color, $main-color, $main-color);
// }

// ------------------------------------------
// ------------------------------------------

// Define here all mixins you used to build you component

// ------------------------------------------
// Default
// ------------------------------------------

// ------------------------------------------
// Button
// ------------------------------------------
@mixin btn($background, $text-color, $border-color) {
  font-family: $main-font;
  font-weight: 700;
  border: 1px solid $border-color;
  text-decoration: none;
  color: $text-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0.8em;
  font-size: 0.7rem;
  background-color: $background;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin btn-hover($background, $text-color) {
  transition: all 0.4s ease-in-out;
  color: $text-color;
  background-color: $background;
}

// ------------------------------------------
// Search Boxs
// ------------------------------------------

@mixin searchBoxSimple($background, $border-color) {
  width: 100%;
  margin: 1rem auto;
  border-radius: 8px;
  border: 1px solid $border-color;
  padding: 0.6rem 3rem;
  background-color: $background;
  transition: 0.2s ease-in-out;
}

@mixin searchBoxCustom($background, $border-color, $text-color) {
  width: 100%;
  margin: 1rem auto;
  border-radius: 2px;
  border: 1px solid $border-color;
  padding: 0.6rem;
  background-color: $background;
  transition: 0.2s ease-in-out;
  color: $text-color;
}

// ------------------------------------------
// Fonts, Title, p,....
// ------------------------------------------

// ------------------------------------------
// HomePage
// ------------------------------------------

// ------------------------------------------
// Header
// ------------------------------------------

// ------------------------------------------
// SearchBox
// ------------------------------------------

// ------------------------------------------
// Carousel
// ------------------------------------------

// ------------------------------------------
// SearchResult Page
// ------------------------------------------

// ------------------------------------------
// Hits
// ------------------------------------------
@mixin hits-individual($title-color, $price-color, $higlight-color, $shadow) {
  width: 100%;
  display: block;
  &__list {
    &__img {
      position: relative;
      img {
        width: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
      }
      &__heart {
        position: absolute;
        top: 1rem;
        right: 1rem;
        svg {
          cursor: pointer;
          width: 20px;
        }
      }
    }
    :hover {
      box-shadow: 0 0rem 5rem rgba($shadow, 0.2);
    }
    &__infos {
      align-items: flex-start;
      height: 100%;
      width: 100%;
      margin: 1rem 0;
      h3 {
        font-weight: 300;
        font-size: 0.8rem;
        text-align: center;
        margin: 0 auto;
        .ais-Highlight-nonHighlighted {
          color: $title-color;
        }
        .ais-Highlight-highlighted {
          @include highlight($higlight-color);
        }
      }
      &__down {
        margin: 0 auto;
        text-align: center;
        p {
          color: $price-color;
          font-weight: 400;
          font-size: 1rem;
        }
      }
    }
  }
}

@mixin highlight($higlight-color) {
  color: $higlight-color;
  font-style: normal;
  font-weight: 600;
}

// ------------------------------------------
// Facets
// ------------------------------------------
@mixin facetsFilter($background, $text-color, $p-color, $span-color) {
  text-decoration: none;
  width: 100%;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0.8em;
  font-size: 0.7rem;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  color: rgba($text-color, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: initial;
  p {
    color: $p-color;
    font-size: 0.9rem;
    font-weight: 100;
    text-align: left;
  }
  span {
    color: $span-color;
    font-size: 0.7rem;
  }
}

@mixin facetsFilterHover($background) {
  background-color: $background;
}
