// Mixins
@import "./variables.scss";
@import "./fonts";

// ------------------------------------------
// How use mixins
// .button {
//   @include btn($red-color, $main-color, $main-color);
// }

// ------------------------------------------
// ------------------------------------------

// Define here all mixins you used to build you component

// ------------------------------------------
// Default
// ------------------------------------------

// ------------------------------------------
// Button
// ------------------------------------------
@mixin btn($background, $text-color, $border-color) {
  font-family: $main-font;
  font-weight: 700;
  border: 1px solid $border-color;
  text-decoration: none;
  color: $text-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0.8em;
  font-size: 0.7rem;
  background-color: $background;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin btn-hover($background, $text-color) {
  transition: all 0.4s ease-in-out;
  color: $text-color;
  background-color: $background;
}

// ------------------------------------------
// Fonts, Title, p,....
// ------------------------------------------

// ------------------------------------------
// HomePage
// ------------------------------------------

// ------------------------------------------
// Header
// ------------------------------------------

// ------------------------------------------
// SearchBox
// ------------------------------------------

// ------------------------------------------
// Carousel
// ------------------------------------------

// ------------------------------------------
// SearchResult Page
// ------------------------------------------

// ------------------------------------------
// Hits
// ------------------------------------------

// ....
