// ------------------------------------------
// Search Results Page
// ------------------------------------------
@use '../../../scss/partials' as *;

// ------------------------------------------
// Container
// ------------------------------------------
.srp {
  position: relative;
}

.srp-container {
  width: 95%;
  height: 100%;
  margin: 1rem auto;
  display: flex;
  gap: 3rem;

  &__facets {
    width: 18%;
    will-change: width;
    flex-shrink: 0;
    overflow: visible;
    display: inline-block;
  }

  &__hits {
    width: 85%;
    position: relative;
    flex-grow: 2;
    padding: 0 1rem;
  }
}

.refined-filter {
  @include btn-hover($purple-algolia, $white-color);

  p,
  span {
    color: $white-color;
  }
}

// ------------------------------------------
// Stats
// ------------------------------------------

.srp-container__stats-sort {
  display: flex;
  justify-content: space-between;

  .stats-infos {
    @include stats($purple-algolia);
  }

  select {
    font-size: 0.9rem;
    font-family: $main-font;
  }
}

// ------------------------------------------
// Pagination
// ------------------------------------------
.ais-Pagination {
  display: flex;
  justify-content: center;
  @include pagination($purple-algolia-custom-gradient);
}

// ------------------------------------------
// Pagination
// ------------------------------------------
.banner-srp {
  width: 100%;
  height: 30vh;
  background-position: center;
  @include bannerSrp($white-color);
}

// ------------------------------------------
// No Results
// ------------------------------------------
.no-results {
  width: 95%;
  height: 80vh;
  margin: 0rem auto;
  padding: 2rem 2rem;

  &__titles {
    margin-bottom: 2rem;

    &__span-query {
      color: $purple-algolia;
      font-weight: 900;
    }
  }

  &__infos {
    &__span {
      color: $purple-algolia;
    }

    .query-suggestion {
      margin-top: 2rem;

      .suggestions {
        &__items {
          display: flex;
          flex-direction: column;

          .suggestions__item {
            margin-right: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            svg {
              margin-top: 0.2rem;
              width: 8px;
            }
          }
        }
      }
    }

    &__p {
      @include p-text($main-color);
      margin-top: 1rem;
      span {
        font-weight: 700;
        color: $purple-algolia;
      }
    }
  }
}

.srp-hidden {
  opacity: 1;
  visibility: hidden;
}

.srp-active {
  opacity: 1;
}

// ------------------------------------------
// Search box invisible
// ------------------------------------------
.search-box-invisible {
  display: none;
}

@media only screen and (max-width: 480px) {
  .uic-HorizontalSlider-list {
    gap: 6.5rem !important;

    li {
      width: fit-content;
    }
  }
}
