// ------------------------------------------
// Search Results Page
// ------------------------------------------
@use '../../../scss/partials' as *;

// ------------------------------------------
// Container
// ------------------------------------------
.srp {
  position: relative;
}

.srp-container {
  position: relative;
  width: 95%;
  height: 100%;
  margin: 1rem auto;
  display: flex;
  gap: 3rem;

  &__facets {
    width: 18%;
    will-change: width;
    flex-shrink: 0;
    overflow: visible;
    display: inline-block;
  }

  &__hits {
    width: 85%;
    position: relative;
    flex-grow: 2;
    padding: 0 1rem;
  }
}

.refined-filter {
  @include btn-hover($second-color, $white-color);

  p,
  span {
    color: $white-color;
  }
}

// ------------------------------------------
// Stats
// ------------------------------------------

.srp-container__stats-sort {
  display: flex;
  justify-content: space-between;

  .stats-infos {
    @include stats($second-color);
  }

  select {
    font-size: 0.9rem;
    font-family: $main-font;
  }
}

// ------------------------------------------
// Pagination
// ------------------------------------------
.ais-Pagination {
  display: flex;
  justify-content: center;
  @include pagination($second-color-custom-gradient);
}

// ------------------------------------------
// Pagination
// ------------------------------------------
.banner-srp {
  width: 100%;
  height: 30vh;
  background-position: center;
  @include bannerSrp($white-color);
}

// ------------------------------------------
// No Results
// ------------------------------------------
.no-results {
  width: 95%;
  height: 80vh;
  margin: 0rem auto;
  padding: 2rem 2rem;

  &__titles {
    margin-bottom: 2rem;

    &__span-query {
      color: $second-color;
      font-weight: 900;
    }
  }

  &__infos {
    &__span {
      color: $second-color;
    }

    .query-suggestion {
      margin-top: 2rem;

      .suggestions {
        &__items {
          display: flex;
          flex-direction: column;

          .suggestions__item {
            margin-right: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            svg {
              margin-top: 0.2rem;
              width: 8px;
            }
          }
        }
      }
    }

    &__p {
      @include p-text($main-color);
      margin-top: 1rem;
      span {
        font-weight: 700;
        color: $second-color;
      }
    }
  }
}

.srp-hidden {
  opacity: 1;
  visibility: hidden;
}

.srp-active {
  opacity: 1;
}

// ------------------------------------------
// Search box invisible
// ------------------------------------------
.search-box-invisible {
  display: none;
}

// ------------------------------------------
// MOBILE
// ------------------------------------------

.srp-container-mobile,
.srp-container {
  position: relative;
  width: 95%;
  height: 100%;
  margin: 1rem auto;
  display: flex;
  gap: 3rem;

  &__filterPicto {
    position: relative;
    z-index: 901;
    cursor: pointer;
    svg {
      width: 20px;
      height: auto;
    }
    #ball1__wp {
      transition: all 0.3s ease-in-out;
    }
    #ball2__wp {
      transition: all 0.3s ease-in-out;
    }
    #ball3__wp {
      transition: all 0.3s ease-in-out;
    }
  }

  &__filterPicto-active {
    position: relative;
    z-index: 901;
    cursor: pointer;
    svg {
      width: 20px;
      height: auto;

      #ball1__wp {
        transition: all 0.3s ease-in-out;
        transform: translateX(10px);
        path {
          transition: all 0.3s ease-in-out;
          fill: $second-color;
        }
      }
      #ball2__wp {
        transition: all 0.3s ease-in-out;
        transform: translateX(-10px);
        path {
          transition: all 0.3s ease-in-out;
          fill: $second-color;
        }
      }
      #ball3__wp {
        transition: all 0.3s ease-in-out;
        transform: translateX(10px);
        path {
          transition: all 0.3s ease-in-out;
          fill: $second-color;
        }
      }
    }
  }

  &__facets-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: $background-color;
    z-index: 900;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }
  &__facets-mobile-active {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 480px) {
  .uic-HorizontalSlider-list {
    gap: 6.5rem !important;

    li {
      width: fit-content;
    }
  }
}
