// ------------------------------------------
// Help Navigation
// ------------------------------------------
@use '../mixin/abstracts' as *;

.helpNavigation {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 30%;
  padding: 3rem 2rem;
  background-color: $white-color;
  z-index: 998;
  overflow: scroll;

  h2 {
    font-weight: bold;
  }
}

.helpNavigation-mobile{
  min-width: 100%;
}

// SE menu btn/picto that helps navigate in the app

.optionDots__wrapper {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &-active {
    transform: rotate3d(0, 0, 1, -90deg);
    transition: all 0.3s ease-in-out;

    p{
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  p{
    font-size: 0.6rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: all 0.3s ease-in-out;
  }
  svg {
    width: 6px;
    path {
      fill: $blue-algolia;
    }
  }
}
.search-terms {
  margin-bottom: 1rem;
  &__infos {
    margin: 1rem 0;
    &__titles {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.3rem;
      // margin-left: 2rem;
      h3 {
        font-size: 0.9rem
      }
      span {
        font-size: 0.7rem;
        color: $blue-algolia;
      }
      p {
        font-size: 0.7rem;
      }
    }
  }
}

.container-nav-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  &____items {
    cursor: pointer;
  }
}


// Alert about guided demo

.wrap {
  position: fixed;
  position: fixed;
  bottom: 0rem;
  right: 1rem;
  width: 100%;
  padding-left: 1.4em;
  padding-right: 1.4em;
  z-index: 1000;

  &-up{
    bottom: 7rem;
  }
}

.demoGuide__alert {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  font-family: $main-font;
  font-weight: bold;
  color: white;
  background: $blue-algolia;
  opacity: 0.8;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 3px;
  
  &-close {
    cursor: pointer;
  }
}