// ------------------------------------------
// applied Rules
// ------------------------------------------
@use '../../../scss/partials' as *;

.appliedRules{
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $purple-algolia-custom-gradient;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    animation: 0.5s showRules ease-in forwards ;
    min-height: 5rem;
    &__list{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        &:empty{display: none;}
        li{
            @include p-text($white-color);
            font-size: 0.8rem;
            font-weight: bold;
        }
    }

}


@keyframes showRules {
    0%{
        opacity: 0;
        bottom: -5rem;
        
    }
    100%{
        opacity: 1;
        bottom: 0;
    }
}


// SWITCH BTN
.appliedRules__toggle{
    position: relative;
    margin: 1rem 0;
    padding: 1rem 0;
.switch {
    position: relative;
    display: block;
    width: 2.6rem;
    height: 1.2rem;
    transition: transform 0.1s ease-in-out;

    &:active{
        transform: scale(0.96);
        transition: transform 0.1s ease-in-out;
    }
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 3rem;

        &::before{
            position: absolute;
            content: "";
            height: 1.6rem;
            width: 1.6rem;
            top: -0.21rem;
            left: -0.2rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            background: linear-gradient(160deg, #F1F4FF, #F9FAFF);
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
      }
  }
  input:checked + .slider {
    background: $purple-algolia-custom-gradient;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.7rem);
    -ms-transform: translateX(1.7rem);
    transform: translateX(1.7rem);
  }

}