// ------------------------------------------
// VoiceSearch
// ------------------------------------------
@import '../mixin/abstracts/abstracts.scss';

.ais-VoiceSearch{
  position: absolute;
  right: 15%;
}