@charset "UTF-8";
@keyframes fadeInImage {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutImage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input,
textarea,
select,
button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none; /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto; /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video,
svg,
picture {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Block component */
/* Element that depends upon the block */
/* Modifier that changes the style of the block */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(249, 249, 249);
  font-family: "Poppins", sans-serif;
}

.mainWrapper {
  margin: 0 auto;
  max-width: 1600px;
}

input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
p,
span,
input,
input::placeholder,
span {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.mainWrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.error-modal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-modal-content {
  width: 80%;
}

.error-modal-content > h5 {
  text-align: center;
  font-size: 18px;
  color: red;
}

.Overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 999;
  z-index: 900;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.Modal {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  background-color: white;
  width: 35rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  isolation: isolate;
}

@media only screen and (min-width: 800px) {
  .ModalContent {
    width: 660px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.federatedSearch {
  width: 100%;
  padding: 2rem;
  position: absolute;
  background-color: rgb(249, 249, 249);
  z-index: 40;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px;
}
.federatedSearch__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.federatedSearch__left {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.federatedSearch__middle {
  width: 100%;
}
.federatedSearch__right {
  width: 25%;
}
.federatedSearch .chevronRight {
  width: 5px;
}

.recentSearches__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 61, 255);
  text-transform: uppercase;
}
.recentSearches__items li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
}
.recentSearches__items li p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.recentSearches__items li p:hover {
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.suggestions__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 61, 255);
  text-transform: uppercase;
}
.suggestions__items li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
}
.suggestions__items li .ais-Highlight-highlighted {
  color: rgb(0, 61, 255);
  font-style: normal;
  font-weight: 600;
}
.suggestions__items li p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.suggestions__items li p:hover {
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.categories__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 61, 255);
  text-transform: uppercase;
}
.categories__items li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
}
.categories__items li p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.categories__items li p:hover {
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.products__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 61, 255);
  text-transform: uppercase;
  margin-left: 1rem;
}
.products__items {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.products__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  width: clamp(10rem, 32%, 32%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: box-shadow 0.3s ease-in-out;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.products__item .image-wrapper {
  max-width: 30%;
}
.products__item .image-wrapper img {
  width: 100%;
}
.products__item .infos .productName {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0 auto;
  text-transform: capitalize;
  text-align: left;
}
.products__item .infos .productName .ais-Highlight-nonHighlighted {
  color: rgb(102, 102, 102);
  font-size: 0.6rem;
}
.products__item .infos .productName .ais-Highlight-highlighted {
  color: rgb(0, 61, 255);
  font-style: normal;
  font-weight: 600;
}
.products__item .infos .brand {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 0.6rem;
  text-transform: capitalize;
  text-align: left;
}
.products__item .infos .price {
  color: rgb(0, 61, 255);
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1px;
  margin-top: 1rem;
}
.products__item .infos .price span {
  color: inherit;
}
.products__item .infos .price s {
  color: rgb(102, 102, 102);
  text-decoration: line-through;
}
.products__item .infos .size {
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.products__item .infos .colors {
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: capitalize;
  display: flex;
  align-items: flex-start;
  gap: 0.3rem;
}
.products__item:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transition: box-shadow 0.3s ease-in-out;
}
.products__item .ais-Highlight-highlighted {
  font-size: 0.6rem;
}
.products__btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
}
.products__btn p {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  transition: transform 0.3s ease-in-out;
}
.products__btn svg {
  margin-top: 2px;
  width: 8px;
  transition: transform 0.3s ease-in-out;
}
.products__btn svg path {
  fill: rgb(0, 61, 255);
}
.products__btn:hover p {
  transform: translateX(0.1rem);
  transition: transform 0.3s ease-in-out;
}
.products__btn:hover svg {
  transform: translateX(-0.1rem);
  transition: transform 0.3s ease-in-out;
}

.articles__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 61, 255);
  text-transform: uppercase;
}
.articles__item .image-wrapper {
  width: 100%;
}
.articles__item .image-wrapper img {
  width: 100%;
}
.articles__item .title {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  text-align: left;
}
.articles__item .date {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 0.6rem;
}
.articles__item .subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(102, 102, 102);
  overflow: hidden;
  max-height: 3;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: left;
}

.query-cat-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.query-cat-container__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 61, 255);
  text-transform: uppercase;
}
.query-cat-container svg {
  width: 20px;
  height: 20px;
}
.query-cat-container__search {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.query-cat-container__search p {
  font-weight: 300;
  font-size: 0.8rem;
}
.query-cat-container__result {
  display: flex;
}
.query-cat-container__result p {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.query-cat-container__result p:hover {
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.query-cat-container__result__return {
  display: flex;
  align-items: center;
  margin: 0.7rem 0 0 1rem;
}
.query-cat-container__result__return p {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.query-cat-container__result__return p:hover {
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.query-cat-container__result svg {
  width: 10px;
}

.federatedSearch-mobile {
  height: 100%;
  width: 100%;
  padding: 2rem;
  position: absolute;
  background-color: rgb(249, 249, 249);
  z-index: 40;
}
.federatedSearch-mobile .federatedSearch__wrapper-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.federatedSearch-mobile .federatedSearch__wrapper-mobile .products__title {
  margin: 0;
}
.federatedSearch-mobile .federatedSearch__wrapper-mobile .products__items {
  flex-wrap: nowrap;
  display: -webkit-box;
  overflow-x: scroll;
  padding: 1rem 0rem;
  list-style-type: none;
}
.federatedSearch-mobile .federatedSearch__wrapper-mobile .products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
.federatedSearch-mobile .federatedSearch__wrapper-mobile .products__item .image-wrapper {
  max-width: 60%;
}
.federatedSearch-mobile .federatedSearch__wrapper-mobile .products__item .infos {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.federatedSearch-mobile .federatedSearch__wrapper-mobile .products__item .infos .name {
  font-size: 0.8rem;
  text-align: center;
}
.federatedSearch-mobile .federatedSearch__wrapper-mobile .chevronRight {
  width: 5px;
}
.federatedSearch-mobile .closeFederated {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.federatedSearch-mobile .closeFederated:hover p {
  transform: translateX(0.1rem);
  transition: transform 0.3s ease-in-out;
}
.federatedSearch-mobile .closeFederated:hover svg {
  transform: translateX(-0.1rem);
  transition: transform 0.3s ease-in-out;
}
.federatedSearch-mobile .closeFederated p {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  transition: transform 0.1s ease-in-out;
}
.federatedSearch-mobile .closeFederated svg {
  margin-top: 2px;
  width: 8px;
  transition: transform 0.1s ease-in-out;
}
.federatedSearch-mobile .closeFederated svg path {
  fill: rgb(0, 61, 255);
}/*# sourceMappingURL=federatedSearch.css.map */