// ------------------------------------------
// Home Carousel
// ------------------------------------------
@use '../../../scss/partials' as *;

.home-carousel {
  margin: 2rem 2rem;

  h3 {
    @include titleH3($secondary-color);
  }
  .carousel {
    position: relative;

    .inner-carousel {
      display: grid;
      gap: 1rem;
      list-style: none;
      margin: 0;
      outline-offset: 0.5rem;
      scroll-behavior: smooth;
      scroll-snap-type: x proximity;
      grid-auto-columns: 42%;
      grid-auto-flow: column;
      overflow-x: auto;
      padding: 1rem 1rem;
      grid-auto-columns: clamp(13rem, 25%, 19%);
      @include scrollBar();

      &__imageWrapper {
        overflow: hidden;
        margin: 1rem;
        cursor: pointer;
      }

      .item {
        @include hit(
          $main-color,
          $secondary-color,
          $secondary-color,
          $secondary-color
        );
        
        position: relative;
    
        &__infos {
          @include productName($grey-dark-color);
          font-size: 0.6rem;
          height: 7rem;
    
          .brand {
            @include brand($main-color);
          }
          .price {
            @include price($secondary-color);
          }
        }
        .price {
          @include price($secondary-color);
        }
      }

      .carousel-loader {
        box-shadow: none;
        border: none;
      }
    }

    .prevBtn, .nextBtn{
      position: absolute;
      top: 35%;
      align-items: center;
      background: transparent;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      outline-color: transparent;
      padding: 0;
      width: 32px;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.2s ease-in-out;
      svg, path{
        fill: $secondary-color;
      }
    }
    .nextBtn{
      right: 0;
    }
    .leftBtn{
      left: 0;
    }

    &:hover{
      .prevBtn, .nextBtn{
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
