@charset "UTF-8";
@keyframes fadeInImage {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutImage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input,
textarea,
select,
button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none; /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto; /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video,
svg,
picture {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Block component */
/* Element that depends upon the block */
/* Modifier that changes the style of the block */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(249, 249, 249);
  font-family: "Poppins", sans-serif;
}

.mainWrapper {
  margin: 0 auto;
  max-width: 1600px;
}

input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
p,
span,
input,
input::placeholder,
span {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.mainWrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.error-modal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-modal-content {
  width: 80%;
}

.error-modal-content > h5 {
  text-align: center;
  font-size: 18px;
  color: red;
}

.Overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 999;
  z-index: 900;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.Modal {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  background-color: white;
  width: 35rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  isolation: isolate;
}

@media only screen and (min-width: 800px) {
  .ModalContent {
    width: 660px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pdp {
  position: relative;
  height: 100%;
}
.pdp__wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.pdp__left {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pdp__left .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pdp__left .imageWrapper {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.pdp__left .imageWrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.pdp__backBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.pdp__backBtn:hover p {
  transform: translateX(0.1rem);
  transition: transform 0.3s ease-in-out;
}
.pdp__backBtn:hover svg {
  transform: translateX(-0.1rem);
  transition: transform 0.3s ease-in-out;
}
.pdp__backBtn p {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  transition: transform 0.1s ease-in-out;
}
.pdp__backBtn svg {
  margin-top: 2px;
  width: 8px;
  transition: transform 0.1s ease-in-out;
}
.pdp__backBtn svg path {
  fill: rgb(0, 61, 255);
}
.pdp__right {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pdp__right__infos {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}
.pdp__right__infos .brand {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 0.6rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.pdp__right__infos .name {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0 auto;
  text-transform: capitalize;
}
.pdp__right__infos .name .ais-Highlight-nonHighlighted {
  color: rgb(102, 102, 102);
  font-size: 0.6rem;
}
.pdp__right__infos .name .ais-Highlight-highlighted {
  color: rgb(0, 61, 255);
  font-style: normal;
  font-weight: 600;
}
.pdp__right__infos .color {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pdp__right__infos .color p {
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: capitalize;
}
.pdp__right__infos .add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, rgb(0, 61, 255) 0%, rgb(7, 56, 210) 100%);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
  gap: 1rem;
  width: 10rem;
}
.pdp__right__infos .add-to-cart p {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.pdp__right__infos .add-to-cart-active {
  animation: bounce 0.4s ease-in-out forwards;
}
.pdp__right__infos .add-to-cart:hover {
  background: linear-gradient(60deg, rgb(0, 61, 255) 0%, rgb(7, 56, 210) 100%);
  transition: all 0.3s ease-in-out;
  gap: 1.5rem;
}
.pdp__right__infos .add-to-cart:hover p {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}
.pdp__right__infos .add-to-cart svg {
  margin-top: 1px;
  width: 20px;
}
.pdp__right__infos .add-to-cart svg path {
  fill: rgb(249, 249, 249);
}
.pdp__right__infos .add-to-cart p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
}
.pdp__right__infos .price {
  color: rgb(0, 61, 255);
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1px;
  font-size: 2rem;
}
.pdp__right__infos .price span {
  color: inherit;
}
.pdp__right__infos .price s {
  color: rgb(102, 102, 102);
  text-decoration: line-through;
}
.pdp__right__infos .price strike {
  margin-right: 0.5rem;
  color: rgb(102, 102, 102);
  text-decoration: line-through;
}
.pdp__right__infos .sizes {
  font-weight: bold;
  width: 100%;
  margin-top: 5rem;
}
.pdp__right__infos .sizes .sizeList {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}
.pdp__right__infos .sizes .size {
  border: 1px solid rgba(102, 102, 102, 0.2);
  margin-top: 1rem;
  padding: 0.3rem 1rem;
  min-width: 20%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fbt-container {
  width: 100%;
  padding: 0 1rem;
}
.fbt-container__component {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  height: 100%;
  overflow: scroll;
  padding: 1rem 0;
}
.fbt-container .fbt-component__plus-icon svg {
  width: 35px;
}
.fbt-container .fbt-component__plus-icon svg path {
  fill: rgb(0, 61, 255);
}
.fbt-container .fbt-component:nth-last-child(1) .fbt-component__plus-icon {
  visibility: hidden;
  opacity: 0;
}

.fbt-infos {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fbt-infos__price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.fbt-infos__price p:nth-child(2) {
  color: rgb(0, 61, 255);
  font-weight: 600;
}
.fbt-infos__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, rgb(0, 61, 255) 0%, rgb(7, 56, 210) 100%);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
.fbt-infos__btn p {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.fbt-infos__btn-active {
  animation: bounce 0.4s ease-in-out forwards;
}
.fbt-infos__btn:hover {
  background: linear-gradient(60deg, rgb(0, 61, 255) 0%, rgb(7, 56, 210) 100%);
  transition: all 0.3s ease-in-out;
  gap: 1.5rem;
}
.fbt-infos__btn:hover p {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}
.fbt-infos__btn svg {
  margin-top: 1px;
  width: 20px;
}
.fbt-infos__btn svg path {
  fill: rgb(249, 249, 249);
}
.fbt-infos__btn p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
}

.fbt-outer-container {
  padding-top: 5rem;
}

.fbt-container {
  display: flex;
}
.fbt-container .uic-HorizontalSlider-container {
  width: 70%;
}
.fbt-container .uic-HorizontalSlider-container .uic-HorizontalSlider-list {
  grid-auto-columns: 28%;
}

.pdp-mobile__wrapper {
  display: flex;
  flex-direction: column;
}
.pdp-mobile__wrapper .imageWrapper {
  width: 60%;
  margin: 1rem auto 0 auto;
}
.pdp-mobile__backBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.pdp-mobile__backBtn p {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
}
.pdp-mobile__backBtn svg {
  margin-top: 2px;
  width: 8px;
  transition: transform 0.3s ease-in-out;
}
.pdp-mobile__backBtn svg path {
  fill: rgb(0, 61, 255);
}
.pdp-mobile__left {
  width: 100%;
  margin-top: 2rem;
}
.pdp-mobile__right {
  width: 100%;
}
.pdp-mobile__right .pdp__right__infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pdp-mobile .auc-Recommend-container .auc-Recommend-list {
  display: block;
  flex-wrap: nowrap;
  display: -webkit-box;
  overflow-x: scroll;
  padding: 1rem 0rem;
  list-style-type: none;
}
.pdp-mobile .auc-Recommend-container .auc-Recommend-list .auc-Recommend-item {
  width: 40%;
}

.fbt-container-mobile {
  display: flex;
  flex-direction: column;
}
.fbt-container-mobile .fbt-infos {
  margin-top: 1rem;
  width: 100%;
  align-items: center;
}
.fbt-container-mobile .fbt-container__component {
  display: flex;
  width: 100%;
  overflow: scroll;
  padding: 1rem;
}
.fbt-container-mobile .fbt-container__component .fbt-component:nth-last-child(1) .fbt-component__plus-icon {
  visibility: hidden;
  opacity: 0;
}
.fbt-container-mobile .fbt-container__component .fbt-component {
  display: flex;
  justify-content: center;
  min-width: clamp(15rem, 25%, 25%);
}
.fbt-container-mobile .fbt-container__component .fbt-component .fbt-component__plus-icon {
  margin-top: 1rem;
}
.fbt-container-mobile .fbt-container__component .fbt-component .fbt-component__plus-icon svg {
  width: 20px;
}
.fbt-container-mobile .fbt-container__component .fbt-component .fbt-component__plus-icon svg path {
  fill: rgb(0, 61, 255);
}

@keyframes bounce {
  0% {
    transform: scale(0.96);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=productDetails.css.map */