// ------------------------------------------
// Cart Modal
// ------------------------------------------
@use '../../../scss/partials' as *;

.modal-container {
  z-index: 1000;
  position: absolute;
  background-color: $white-color;
  right: 0;
  width: 462px;
  height: 529px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 45px 35px;
  overflow: scroll;
  &__title {
    @include titleH3();
  }
  &__line {
    border-bottom: 1px solid #d9d9d9;
    width: 80%;
    margin: 30px auto;
  }
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.articles-card {
  display: flex;
  width: 100%;
  position: relative;
  &__infos {
    h3 {
      text-transform: capitalize;
      font-weight: 500;
      color: $grey-dark-color;
      font-size: 1.2rem;
    }
    p {
      font-size: 0.8rem;
    }
    &__details {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
      &__size {
        p {
          color: $grey-dark-color;
          font-weight: 600;
        }
        span {
          font-weight: 500;
        }
      }
    }
    &__qtyprice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 1rem;
      &__plus-minus {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        width: 50%;
        svg {
          width: 20px;
        }
        p {
          font-weight: 500;
          font-size: 1rem;
        }
      }
      &__price {
        width: 20%;
        p {
          font-weight: 600;
        }
      }
    }
  }
  &__line {
    border-bottom: 1px solid #d9d9d9;
    width: 80%;
    margin: 30px auto;
  }
  img {
    width: 100px;
    height: 150px;
  }
  &__remove {
    position: absolute;
    bottom: 0;
    right: 2rem;
  }
}
