// ------------------------------------------
// Hits
// ------------------------------------------
@use '../mixin/abstracts' as *;

.ais-InfiniteHits {
  .ais-InfiniteHits-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    .srpItem {
      @include hits-individual(
        $main-color,
        $blue-algolia,
        $blue-algolia,
        $blue-algolia
      );
    }
  }
}

// ------------------------------------------
// SalesCard
// ------------------------------------------
.image-wrapper-sales {
  @include salesCard($white-color);
}
.image-wrapper-sales {
  .infos_influencer {
    @include influencerCard($white-color);
  }
}
