// ------------------------------------------
// Hits
// ------------------------------------------
@use '../mixin/abstracts' as *;

.ais-InfiniteHits {
  .ais-InfiniteHits-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    .srpItem {
      @include hits-individual(
        $main-color,
        $blue-algolia,
        $blue-algolia,
        $blue-algolia
      );
      
    }

    .promotedItems{
      border: 1px solid rgb(170, 183, 251);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
  }
}

// ------------------------------------------
// SalesCard
// ------------------------------------------
.image-wrapper-sales {
  @include salesCard($white-color);
}
.image-wrapper-sales {
  .infos_influencer {
    @include influencerCard($white-color);
  }
}

// ------------------------------------------
// Badges
// ------------------------------------------

.badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: $blue-algolia;
  padding: 0 0.3rem;
  border-radius: 0.2rem;
  p {
    color: $white-color;
    font-weight: 500;
  }
}