@use '../../../../scss/partials/' as *;

.refinement-container {
  display: flex;
  margin: 1rem 0;
  height: fit-content;
  flex-wrap: wrap;
  gap: 0.5rem;
  &:empty {
    display: none;
  }

  &__refinementsInner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .refinement-container__refinements {
    margin-right: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    &:empty {
      display: none;
    }
  }
  a {
    @include btn($secondary-color-custom-gradient, $white-color);
    text-transform: capitalize;
  }
}
