// ------------------------------------------
// Home Carousel
// ------------------------------------------
@use '../../../scss/partials' as *;

.home-carousel {
  margin: 2rem 4rem;

  h3 {
    @include titleH2($secondary-color);
  }
  .carousel {
    cursor: grab;
    overflow: scroll;

    &__imageWrapper {
      max-width: 60%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      overflow: hidden;
      img {
        width: 100%;
        height: 70%;
        margin: 0 auto;
        pointer-events: none;
        object-fit: cover;
        transition: transform 0.2s ease-in-out;
      }
    }
    .hovered {
      img {
        transition: transform 0.5s ease-in-out;
        transform: scale(1.1);
      }
    }

    .inner-carousel {
      display: flex;
      gap: 1rem;
      padding: 0.5rem 0;
      .item {
        min-width: clamp(13rem, 25%, 30%);
        padding: 1rem;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        transition: box-shadow 0.3s ease-in-out;
        padding: 1rem;
        border-radius: 0.5rem;

        &__infos {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          margin-top: 1rem;
          width: 100%;
          padding: 1rem;
          // height: 6rem;
          .name {
            @include productName($grey-dark-color);
          }
          .price {
            @include price($secondary-color);
          }
          .brand {
            @include brand($main-color);
            margin-top: 1rem;
          }
          .cart {
            background-color: $secondary-color;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              margin-top: 0.3rem;
              width: 1.2rem;
              height: 100%;
              path {
                fill: $background-color;
              }
            }
            &-active {
              animation: bounce 0.3s ease-in-out forwards;
            }
          }
        }
        &__infos-up {
          width: 100%;
        }
        &__infos-down {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-top: 1rem;
        }
        &__button {
          z-index: 1000;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
          left: 50%;
          cursor: pointer;
          p {
            border: 1px solid $secondary-color;
            padding: 0.7rem;
            border-radius: 8px;
            text-align: center;
            background-color: $white-color;
            font-weight: 600;
            font-size: 0.8rem;
          }
          &:hover {
            p {
              background-color: $secondary-color;
              color: $white-color;
            }
          }
        }
      }

      .carousel-loader {
        box-shadow: none;
        border: none;
      }
    }
  }
}

.carousel::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
