// ------------------------------------------
// SearchBox
// ------------------------------------------
@use '../mixin/abstracts/abstracts.scss';

.searchbox-container {
  width: 40%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  .searchbox {
    width: 90%;
    &__form {
      margin: 1rem auto;
      width: 100%;
      display: flex;
      position: relative;
      svg {
        width: 30px;
        left: 1rem;
        top: 0.2rem;
        position: absolute;

        path {
          fill: $main-color;
        }
      }

      &__input {
        @include searchBoxSimple($white-color, $grey-light-color-80);
        
        &::placeholder{
          color: $grey-dark-color;
        }
        &:focus {
          outline: none;
        }
        &::-webkit-search-cancel-button {
          // If you want display or not cross in searchbox
          -webkit-appearance: none;
          height: 1em;
          width: 1em;
          border-radius: 50em;
          background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
            no-repeat 50% 50%;
          background-size: contain;
          cursor: pointer;
        }
       
      }

    }
          &__category{
            position: absolute;
            max-width:60%;
            height: 100%;
            top: 0;
            right:0rem;
            border-radius: 0 8px 8px 0;
            padding: 0.5rem 1rem;
            background: $blue-algolia-custom-gradient;
            display: flex;
            align-items: center;
      
           p{
             font-size: 0.8rem;
             color: $grey-dark-color;
           }

           
        }
  }
       
}
