@use '../mixin/abstracts' as *;

.open-tour__button {
  font-family: $main-font;
  @include btn($grey-dark-color, $white-color, $white-color);
}
.reactour__popover {
  font-family: $main-font;
}

// Styles of the custom navigation component
.tour-navigation {
  width: 100%;

  margin-top: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;

  span {
    cursor: pointer;
  }

  select {
    cursor: pointer;
  }

  .flip {
    transform: rotate(180deg);
  }
}

.tour-content-container {
  margin-top: 0.7rem;
}
