@use '../../../scss/partials' as *;

.footer {
  width: 100%;
  padding: 3rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px -3px 5px;

  &__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;

    &-column{
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3{
        @include titleH3($secondary-color);
      }

      ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: fit-content
      }
      li, a, p{
        @include p-text($main-color, 500);
        font-size: 0.8rem;
        cursor: pointer;
        word-wrap: break-word;
      }
      input{
        @include p-text($main-color, 500);
        @include searchBoxInput($white-color, $grey-light-color-80);
        padding: 0.4rem 1rem 0.4rem 1rem;
        font-size: 0.8rem;
      }

      .btn-submit{
        @include btn($secondary-color-custom-gradient, $white-color);
        margin-top: 1rem;
      }
    }
    // Handle specific CSS for first column (algolia's info)
    .col1{
     &__infos{
      display: flex;
      flex-direction: column;
      gap: 1rem;
     } 
     &__imageWp{
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1rem;
      width: 10rem;
     }
    }
  }

  &__bottom{
    font-weight: 600;
    text-align: center;
    margin: 2rem auto 0rem auto;
  }
}

//MOBILE VERSION
.footer-mobile{
  .footer__container{
    justify-content: flex-start;
    .footer__container-column:nth-child(2), .footer__container-column:nth-child(3) {
      display: none;
    }
  }
}