@use '../../../scss/partials' as *;

.footer-area {
  .custom-container {
    max-width: 1266px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    &__mobile {
      max-width: 1266px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      width: 90%;
      justify-content: center;
      align-items: flex-start;
    }
    &__copyright {
      display: flex;
      justify-content: center;
    }
  }

  .columns-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    &__mobile {
      display: none;
    }
  }

  .footer-column {
    padding: 0 1rem;
  }

  .footer-column__company-details {
    flex-direction: column;
    &__mobile {
      .footer-widget {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .footer-widget .footer-info ul li {
    font-size: 12px;
    color: $grey-dark-color;
    line-height: 1;
    margin: 0 0 9px;
  }

  .widget-title {
    margin: 0 0 30px;
  }

  .footer-widget .widget-title h3 {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    color: $main-color;
  }

  .footer-widget .footer-map {
    font-size: 12px;
    color: $grey-dark-color;
    text-decoration: underline;
    transform: translate(1rem, -0.2rem);
  }

  .footer-widget .footer-list ul li {
    margin: 0 0 17px;
  }

  .footer-widget .footer-list ul li a {
    color: $grey-dark-color;
    font-size: 12px;
    display: block;
    line-height: 1;
    font-weight: 400;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-img {
    width: 150px;
    object-fit: cover;
    height: 100%;
    transform: translate(-1.5rem, -1.5rem);
  }

  .footer-bottom {
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .footer-widget.copyright-2 {
    align-items: center;
  }
  .footer-widget.copyright-2 p {
    color: $grey-dark-color;
    font-size: 12px;
    margin: 0;
  }

  .payments {
    width: 170px;
    margin-top: -3px;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
  }

  .subscribe-form-2 .mc-form-2 {
    position: relative;
  }

  .subscribe-form-2 .mc-form-2 > input {
    background-color: transparent;
    width: 16rem;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    color: $grey-dark-color;
    padding: 5px 60px 5px 10px;
    height: 43px;
    font-size: 12px;
  }

  .subscribe-form-2 .mc-form-2 .clear-2 {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 0;
  }

  .subscribe-form-2 .mc-form-2 .clear-2 input {
    padding: 0;
    background-color: transparent;
    border: none;
    color: $main-color;
    font-weight: 700;
    font-size: 12px;
    height: 43px;
  }
}
