@use '../../../scss/partials' as *;

.footer__wrapper {
  margin-left: 5%;
  width: 90%;
}

.footer__column__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-columns__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

  &__mobile {
    display: none;
  }
}

.footer__column{
 
  h3 {
    font-weight: 700;
    margin-bottom: 2rem;
  }
  li {
    margin-bottom: 1rem;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  
  &__infos {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    &__mobile {
      width: 100%;
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
    }
    &--company-details{
      img {
        max-width: 10rem;
          object-fit: cover;
          height: auto;
          transform: translate(-1.5rem, -1.5rem);
      }
    }
  }
  &__signup {
    h3 {
        font-weight: 700;
        margin-bottom: 1rem;
      }
  }
  &__mobile {
    display: none;
  }
}

.footer__bottom {
  display: flex;
  justify-content: center;
}

.footer__img {
  max-width: 10rem;
  object-fit: cover;
  height: 100%;
  transform: translate(-1.5rem, -1.5rem);
}

.mc-form-2>input {
  background-color: transparent;
  width: 16rem;
  border: none;
  border-bottom: 1px solid $grey-border-light-color;
  border-right: 1px solid $grey-border-light-color;
  color: $grey-dark-color;
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  height: 3rem;
  font-size: 0.8rem;
}

.mc-form-2 .clear-2 input {
  padding: 0;
  background-color: transparent;
  border: none;
  color: $main-color;
  font-weight: 700;
  font-size: 0.8rem;
  height: 3rem;
}

.mc-form-2 .clear-2 .button {
  @include btn($main-color, $white-color);
  padding: 0 1rem;
}