@use '../../../scss/partials' as *;

.footer__wrapper {
width: 90%;
}

.footer__column__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__column{
  &--company-details{
    
  }
}

.footer__bottom {
  display: flex;
  justify-content: center;
}

.footer__img {
  width: 150px;
  object-fit: cover;
  height: 100%;
  transform: translate(-1.5rem, -1.5rem);
}