@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Raleway:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Raleway:wght@100;200;300;400;500;700&display=swap");
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased;
  /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased;
  /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input,
textarea,
select,
button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
  /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto;
  /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video,
svg,
picture {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.filters-container {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.filters-container__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters-container__title h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  padding: 0.6rem;
}

.filters-container__title svg {
  width: 25px;
  cursor: pointer;
}

.filters-container__pricecontainer {
  width: 80%;
  margin: 1rem auto;
}

.filters-container__pricecontainer__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.filters-container__pricecontainer__prices p {
  font-family: "Poppins", sans-serif;
  color: #207def;
  font-weight: 600;
}

.filters-container__list {
  margin: 0.8rem 0;
}

.filters-container__list__search-facet__hidden {
  border: 1px solid #000;
  text-decoration: none;
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 0;
  padding: 0.8em;
  font-size: 0.7rem;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  cursor: text;
}

.filters-container__content__list__button-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 0;
  padding: 0.8em;
  font-size: 0.7rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: initial;
  position: relative;
  border-radius: 2px;
}

.filters-container__content__list__button-filter p {
  color: black;
  font-size: 0.9rem;
  font-weight: 100;
  text-align: left;
}

.filters-container__content__list__button-filter span {
  color: #207def;
  font-size: 0.7rem;
}

.filters-container__content__list__button-filter::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(60deg, #207def 0%, #62a2f0 100%);
  z-index: -1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  border-radius: 2px;
}

.filters-container__content__list__button-filter:hover::before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.filters-container__content__list__button-filter:hover p, .filters-container__content__list__button-filter:hover span {
  color: white;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.filters-container .refined-filter {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(60deg, #207def 0%, #62a2f0 100%);
  color: white;
}

.filters-container .refined-filter p,
.filters-container .refined-filter span {
  color: white;
}

.filters-container .rc-slider .rc-slider-track,
.filters-container .rc-slider .rc-slider-track-1 {
  background-color: #207def;
}

.filters-container .rc-slider .rc-slider-handle-1 {
  border: solid 1px #207def;
}

.filters-container .rc-slider .rc-slider-handle-2 {
  border: solid 1px #207def;
}

.filters-container .rc-slider .rc-slider-handle-dragging {
  -webkit-box-shadow: 0 0 0 3px #207def;
          box-shadow: 0 0 0 3px #207def;
}

.filters-container-hierarchical {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.filters-container-hierarchical__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters-container-hierarchical__title > *:empty {
  display: none;
}

.filters-container-hierarchical__title h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  padding: 0.6rem;
}

.filters-container-hierarchical__title svg {
  width: 25px;
  cursor: pointer;
}

.filters-container-hierarchical__list {
  margin: 0.8rem 0;
}

.filters-container-hierarchical__content__list__button-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 0;
  padding: 0.8em;
  font-size: 0.7rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: initial;
  position: relative;
  border-radius: 2px;
}

.filters-container-hierarchical__content__list__button-filter p {
  color: black;
  font-size: 0.9rem;
  font-weight: 100;
  text-align: left;
}

.filters-container-hierarchical__content__list__button-filter span {
  color: #207def;
  font-size: 0.7rem;
}

.filters-container-hierarchical__content__list__button-filter:hover {
  background: #207def;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.filters-container-hierarchical__content__list :hover > p {
  color: white;
}

.filters-container-hierarchical__content__list :hover > span {
  color: white;
}

.filters-container-hierarchical__content__list-isOpened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.filters-container-hierarchical__content__list-isOpened .filters-container-hierarchical {
  width: 97%;
}

.filters-container-hierarchical__content__list-isOpened:hover > button {
  background: #207def;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.filters-container-hierarchical .refined-filter {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(60deg, #207def 0%, #62a2f0 100%);
  color: white;
}

.filters-container-hierarchical .refined-filter p,
.filters-container-hierarchical .refined-filter span {
  color: white;
}

.color-refinement h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  padding: 0.6rem;
}

.color-refinement .ais-ColorRefinementList {
  --transition-duration: 0.2s;
  --items-column-width: 3rem;
  --items-gap: 1rem;
  --refined-icon-size: 1.1rem;
  --color-size: 1.75rem;
}

.color-refinement .ais-ColorRefinementList-layoutList .ais-ColorRefinementList-items {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.color-refinement .ais-ColorRefinementList-layoutList .ais-ColorRefinementList-item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
}

.color-refinement .ais-ColorRefinementList-layoutList .ais-ColorRefinementList-color {
  margin-right: 0.8rem;
}

.color-refinement .ais-ColorRefinementList-layoutList .ais-ColorRefinementList-label {
  margin-top: 0;
}

.color-refinement .ais-ColorRefinementList-layoutList .ais-ColorRefinementList-count {
  display: block;
  margin-left: auto;
}

.color-refinement .ais-ColorRefinementList-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(var(--items-column-width), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(var(--items-column-width), 1fr));
  gap: var(--items-gap);
}

.color-refinement .ais-ColorRefinementList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  color: #000;
  background: transparent;
  border: 0px;
  padding: 0px;
  cursor: pointer;
}

.color-refinement .ais-ColorRefinementList-color {
  width: var(--color-size);
  height: var(--color-size);
  border-radius: 9999px;
  -webkit-transition: var(--transition-duration) transform ease-out;
  transition: var(--transition-duration) transform ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: contain;
}

.color-refinement .ais-ColorRefinementList-item:hover .ais-ColorRefinementList-color {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.color-refinement .ais-ColorRefinementList-item:active .ais-ColorRefinementList-color {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.color-refinement .ais-ColorRefinementList-color.color--ffffff {
  border: 1px solid #d1d1d1;
}

.color-refinement .ais-ColorRefinementList-shapeSquare .ais-ColorRefinementList-color {
  border-radius: 0;
}

.color-refinement .ais-ColorRefinementList-label {
  margin-top: 0.3rem;
  -webkit-transition: 0.3s color ease-out;
  transition: 0.3s color ease-out;
  padding: 0 0.3rem;
  font-family: "Poppins", sans-serif;
}

.color-refinement .ais-ColorRefinementList-item:hover .ais-ColorRefinementList-label {
  color: #848484;
}

.color-refinement .ais-ColorRefinementList-count {
  display: none;
}

.color-refinement .ais-ColorRefinementList-refinedIcon {
  position: relative;
  width: var(--refined-icon-size);
  height: var(--refined-icon-size);
  color: var(--contrast-color);
  -webkit-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity var(--transition-duration) linear 0s, visibility 0s linear var(--transition-duration), -webkit-transform var(--transition-duration) ease-out 0s;
  transition: opacity var(--transition-duration) linear 0s, visibility 0s linear var(--transition-duration), -webkit-transform var(--transition-duration) ease-out 0s;
  transition: transform var(--transition-duration) ease-out 0s, opacity var(--transition-duration) linear 0s, visibility 0s linear var(--transition-duration);
  transition: transform var(--transition-duration) ease-out 0s, opacity var(--transition-duration) linear 0s, visibility 0s linear var(--transition-duration), -webkit-transform var(--transition-duration) ease-out 0s;
}

.color-refinement .ais-ColorRefinementList-item.ais-ColorRefinementList-itemRefined
.ais-ColorRefinementList-refinedIcon {
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) linear 0s, visibility 0s linear 0s, -webkit-transform var(--transition-duration) ease-out 0s;
  transition: opacity var(--transition-duration) linear 0s, visibility 0s linear 0s, -webkit-transform var(--transition-duration) ease-out 0s;
  transition: transform var(--transition-duration) ease-out 0s, opacity var(--transition-duration) linear 0s, visibility 0s linear 0s;
  transition: transform var(--transition-duration) ease-out 0s, opacity var(--transition-duration) linear 0s, visibility 0s linear 0s, -webkit-transform var(--transition-duration) ease-out 0s;
}

.srp-container__facets-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vh;
  background-color: #f9f9f9;
  z-index: 998;
  padding: 3rem 1rem;
}

.srp-container__facets-mobile .filters-container {
  margin-top: 2rem;
}

.refinement-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.refinement-container:empty {
  display: none;
}

.refinement-container__refinementsInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.refinement-container .refinement-container__refinements {
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.refinement-container .refinement-container__refinements:empty {
  display: none;
}

.refinement-container li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(60deg, #207def 0%, #62a2f0 100%);
  color: white;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
  text-transform: capitalize;
  color: white;
}

.button-clear-refinement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(60deg, #207def 0%, #62a2f0 100%);
  color: white;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
}
/*# sourceMappingURL=currentRefinement.css.map */