@use '../mixin/abstracts' as *;

.filters-container {
  font-family: $main-font;
  width: 100%;
  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $main-color;
      padding: 0.6rem;
    }
    svg {
      width: 25px;
      cursor: pointer;
    }
  }
  &__pricecontainer {
    width: 80%;
    margin: 1rem auto;
    &__prices {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      p {
        font-family: $main-font;
        color: $blue-algolia;
        font-weight: 600;
      }
    }
  }

  &__list {
    margin: 0.8rem 0;
    &__search-facet__hidden {
      border: 1px solid #000;
      text-decoration: none;
      color: $main-color;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5rem 0;
      padding: 0.8em;
      font-size: 0.7rem;
      background-color: #fff;
      transition: all 0.4s ease-in-out;
      text-transform: uppercase;
      cursor: text;
    }
  }
  &__content {
    &__list {
      &__button-filter {
        display: flex;
        @include facetsFilter(
          $white-color,
          $main-color,
          $main-color,
          $blue-algolia
        );
        > p{
          font-weight: 300;
        }
        &::before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: $blue-algolia;
          z-index: -1;
          transition: opacity 0.3s ease-in-out;
          opacity: 0;
          border-radius: 2px;
        }
        &:hover::before{
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }
        &:hover{
          p,span{
            color: $white-color;
            transition: color 0.3s ease-in-out;
          }
        }
       
      }
    }
    
  }
  .refined-filter {
    @include btn-hover($blue-algolia, $white-color);
    p,
    span {
      color: $white-color;
    }
  }
  // Personalisation Slider price
  .rc-slider {
    @include priceSlider($blue-algolia);
  }
}
.filters-container-hierarchical {
  font-family: $main-font;
  width: 100%;
  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    > * {
      &:empty {
        display: none;
      }
    }
    h3 {
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $main-color;
      padding: 0.6rem;
    }
    svg {
      width: 25px;
      cursor: pointer;
    }
  }
  &__list {
    margin: 0.8rem 0;
  }
  &__content {
    &__list {
      &__button-filter {
        display: flex;
        @include facetsFilter(
          $white-color,
          $main-color,
          $main-color,
          $blue-algolia
        );
        > p{
          font-weight: 300;
        }
        &:hover {
          @include facetsHierarchicalHover($blue-algolia);
        }
      }
      :hover > p {
        color: $white-color;
      }
      :hover > span {
        color: $white-color;
      }
      &-isOpened {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .filters-container-hierarchical {
          width: 97%;
        }
        &:hover > button {
          @include facetsHierarchicalHover($blue-algolia);
        }
      }
    }
  }
  .refined-filter {
    @include btn-hover($blue-algolia, $white-color);
    p,
    span {
      color: $white-color;
    }
  }
}

// ------------------------------------------
// Color Refinement List
// ------------------------------------------
.color-refinement {
  h3 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $main-color;
    padding: 0.6rem;
  }
  .ais-ColorRefinementList {
    --transition-duration: 0.2s;
    --items-column-width: 3rem;
    --items-gap: 1rem;
    --refined-icon-size: 1.1rem;
    --color-size: 1.75rem;
  }
  .ais-ColorRefinementList-layoutList .ais-ColorRefinementList-items {
    grid-template-columns: 1fr;
  }
  .ais-ColorRefinementList-layoutList .ais-ColorRefinementList-item {
    flex-basis: 100%;
    flex-direction: row;
    max-width: 100%;
  }
  .ais-ColorRefinementList-layoutList .ais-ColorRefinementList-color {
    margin-right: 0.8rem;
  }
  .ais-ColorRefinementList-layoutList .ais-ColorRefinementList-label {
    margin-top: 0;
  }
  .ais-ColorRefinementList-layoutList .ais-ColorRefinementList-count {
    display: block;
    margin-left: auto;
  }
  .ais-ColorRefinementList-items {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--items-column-width), 1fr)
    );
    gap: var(--items-gap);
  }
  .ais-ColorRefinementList-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: #000;
    background: transparent;
    border: 0px;
    padding: 0px;
    cursor: pointer;
  }
  .ais-ColorRefinementList-color {
    width: var(--color-size);
    height: var(--color-size);
    border-radius: 9999px;
    transition: var(--transition-duration) transform ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
  }
  .ais-ColorRefinementList-item:hover .ais-ColorRefinementList-color {
    transform: scale(1.1);
  }
  .ais-ColorRefinementList-item:active .ais-ColorRefinementList-color {
    transform: scale(0.9);
  }
  .ais-ColorRefinementList-color.color--ffffff {
    border: 1px solid #d1d1d1;
  }
  .ais-ColorRefinementList-shapeSquare .ais-ColorRefinementList-color {
    border-radius: 0;
  }
  .ais-ColorRefinementList-label {
    margin-top: 0.3rem;
    transition: 0.3s color ease-out;
    padding: 0 0.3rem;
    font-family: $main-font;
  }
  .ais-ColorRefinementList-item:hover .ais-ColorRefinementList-label {
    color: #848484;
  }
  .ais-ColorRefinementList-count {
    display: none;
  }
  .ais-ColorRefinementList-refinedIcon {
    position: relative;
    width: var(--refined-icon-size);
    height: var(--refined-icon-size);
    color: var(--contrast-color);
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: transform var(--transition-duration) ease-out 0s,
      opacity var(--transition-duration) linear 0s,
      visibility 0s linear var(--transition-duration);
  }
  .ais-ColorRefinementList-item.ais-ColorRefinementList-itemRefined
    .ais-ColorRefinementList-refinedIcon {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    transition: transform var(--transition-duration) ease-out 0s,
      opacity var(--transition-duration) linear 0s, visibility 0s linear 0s;
  }
}


// Mobile & tablet 

.srp-container__facets-mobile{
  position: absolute;
  top: 0;
  left: 0;
  width: 50vh;
  background-color: $background-color;
  z-index: 998;
  padding: 3rem 1rem;

  .filters-container{
    margin-top: 2rem;
  }
}
