// ------------------------------------------
// Search Results Page
// ------------------------------------------
@import '../mixin/abstracts/abstracts.scss';
@import './facets.scss';

// ------------------------------------------
// Container
// ------------------------------------------

.srp-container {
  width: 95%;
  margin: 1rem auto;
  display: flex;
  gap: 3rem;
  &__facets {
    width: 18%;
    will-change: width;
    flex-shrink: 0;
    overflow: visible;
    display: inline-block;
  }
  &__hits {
    width: 85%;
    position: relative;
    flex-grow: 2;
    padding: 0 1rem;
  }
}

// ------------------------------------------
// Stats
// ------------------------------------------

.srp-container__stats-sort {
  display: flex;
  justify-content: space-between;
  .stats-infos {
    @include stats($blue-algolia);
  }
  select{
    font-size: 0.9rem;
    font-family: $main-font;
  }
}

// ------------------------------------------
// Pagination
// ------------------------------------------
.ais-Pagination {
  display: flex;
  justify-content: center;
  @include pagination($blue-algolia);
}

.refinement-container {
  display: flex;
  margin-bottom: 1rem;
}

.button-clear-refinement {
  background-color: $blue-algolia;
  color: $white-color;
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 400;
}
// ------------------------------------------
// Pagination
// ------------------------------------------
.banner-srp {
  width: 100%;
  height: 30vh;
  background-position: center;
  @include bannerSrp($white-color);
}
// ------------------------------------------
// No Results
// ------------------------------------------
.no-results {
  background-image: url('https://weekendmarket.lk/assets/wm/image/no-result.png');
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  padding: 2rem 2rem;
  &__titles {
    margin-bottom: 2rem;
    &__span {
    }
    &__span-query {
      color: $blue-algolia;
      font-weight: 900;
    }
  }
  &__infos {
    &__span {
      color: $blue-algolia;
    }
    .query-suggestion {
      margin-top: 2rem;
      .suggestions {
        .suggestions__title {
        }
        .suggestions__items {
          display: flex;
          .suggestions__item {
            margin-right: 2rem;
            svg {
              width: 10px;
            }
          }
        }
      }
    }
  }
}


// ------------------------------------------
// SRP Container Mobile & tablet
// ------------------------------------------

.srp-container-mobile{
  width: 95%;
  margin: 1rem auto;
  display: flex;
  gap: 3rem;
  position: relative;

  .srp-container__stats-sort{
    margin: 1rem 0;
  }

  .srp-container__hits{
    .ais-InfiniteHits{
      .ais-InfiniteHits-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .facets-slider{
    left: 1rem;
    top: 3rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    display: flex;
    position: absolute;
    height: fit-content;
    z-index: 999;
    transition: 0.2s ease-in-out;

    p{
      font-size: 0.8rem;
    }
    svg{
      // margin-top: 0.5rem;
      width: 8px;
      transition: transform 0.3s ease-in-out;
    }
  }
  .facets-slider-active{
  }
  .facets-slider-inactive{

  }
}