// ------------------------------------------
// Help Navigation
// ------------------------------------------
@use '../../../scss/partials' as *;

.demoGuide-wp {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 995;
  animation: opacity 0.2s ease-in-out;
}

.helpNavigation {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 30%;
  padding: 3rem 2rem;
  background-color: $white-color;
  transform: translateY(-100%);
  z-index: 998;
  overflow: scroll;

  h2 {
    @include titleH2($secondary-color);
  }
}

.helpNavigation-mobile {
  min-width: 100%;
}

// SE menu btn/picto that helps navigate in the app

.optionDots__wrapper {
  position: absolute;
  top: 0rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 998;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  &-active {
    transform: rotate3d(0, 0, 1, -90deg);
    transition: all 0.3s ease-in-out;

    p {
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  p {
    @include p-text($white-color);
    font-size: 0.6rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: all 0.3s ease-in-out;
  }
  svg {
    width: 6px;
    path {
      fill: $white-color;
    }
  }
}

.demoGuideHelpers {
  margin-bottom: 1rem;
  h3 {
    @include titleH3($main-color);
    font-size: 1rem;
    text-transform: capitalize;
  }
  &__infos {
    margin: 1rem 0;
    &__titles {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.3rem;
      span {
        font-size: 0.7rem;
        color: $secondary-color;
      }
      p {
        @include p-text($main-color);
        font-size: 0.7rem;
      }
    }
  }
}

.container-nav-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  &____items {
    cursor: pointer;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
