@use '../../../scss/partials' as *;

.text-wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0;
}

.text {
  text-align: center;
  font-size: 1.5rem;
}

.title-wrapper {
  margin-top: 2rem;
}

.title {
  text-align: center;
  font-size: 2.5rem;
}

.banner {
  width: 100%;
  height: 30vh;
  background-position: center;
}
