@use '../../../scss/partials' as *;


.redirectModal-wp{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    z-index: 999;
}
.redirectModal{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: $white-color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,;
    width: 35rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    isolation: isolate;

    &__infos{
        margin-bottom: 2rem;
        p{
            @include p-text($main-color, 500);
            text-align: left;
        }
    }

    &__buttons{
        display: flex;
        justify-content: center;
        gap: 1rem;


        &-ok{
            @include btn($second-color-custom-gradient, $white-color); 
            border: 1px solid transparent;
            width: 100%;
            gap: 1rem;
            &:hover {
                @include btn-hover($second-color-custom-gradient, $white-color);
            }
           
        }

        &-no{
            @include btn($white-color, $main-color);
            border: 1px solid $second-color;
            width: 100%;
            &:hover {
              @include btn-hover($second-color, $white-color);
            }
        }
    }

}

//__________________________________________________
// MOBILE
//__________________________________________________

.redirectModal-mobile{
    width: 90vw;
    height: 60vh;
}