@use '../mixin/abstracts' as *;

.federatedSearch{
    width: 100%;
    padding: 2rem;

   
    &__wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__left{
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__middle{
        width: 100%;
    }
    &__right{
        width: 25%;
    }

    .chevronRight{
       width: 5px; 
    }
}

//Recent searches
.recentSearches{
    &__title{
        @include title($main-color)
    }
    &__items{
        li{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            text-transform: capitalize;
            cursor: pointer;
            p{
                font-size: 0.8rem;
            }
        }
    }
}

// Suggestion
.suggestions{
    &__title{
        @include title($main-color)
    }
    &__items{
        li{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            text-transform: capitalize;
            cursor: pointer;
            p{
                font-size: 0.8rem;
            }
        }
    }
}

// Categories
.categories{
    &__title{
        @include title($main-color)
    }
    &__items{
        li{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            text-transform: capitalize;
            cursor: pointer;
            
            p{
                font-size: 0.8rem;
            }
        }
    }
}

// Products
.products{
   
    &__title{
        @include title($main-color);
      margin-left: 1rem;
    }
    &__items{
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        padding: 1rem;
       
    }
    &__item{
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        width: 47%;
        cursor: pointer;
        .image-wrapper{
            max-width: 30%;
            img{
                width: 100%;
            }
        }
        .infos{
            text-transform: capitalize;
            
            .brand{
                color: $grey-dark-color;
                font-weight: bold;
                font-size: 0.8rem;
            }
            .price{
                color: $blue-algolia;
                font-size: 0.8rem;
                font-weight: bold;
            }
        }
    }

    &__btn{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 2rem;
    }
}

// Articles
.articles{
    &__title{
        @include title($main-color)
    }
    &__item{
        .image-wrapper{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .title{
            font-size: 0.8rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        .date{
            font-size: 0.8rem;
            text-align: right;
            margin-bottom: 0.5rem;
        }
        .subtitle{
            font-size: 0.8rem;
            overflow:hidden;
            max-height: 8rem;
            -webkit-box-orient: vertical;
            display: block;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
        }
    }
}