@use '../../../scss/partials' as *;
.skeleton {
  width: 95%;
  height: 100%;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.skeleton__facets {
  width: 18%;
  will-change: width;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: visible;
  display: inline-block;
  background-color: #e9e9e9;
  border-radius: 0.5rem;
  position: relative;
}

.skeleton__facets::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2.2s infinite;
          animation: shimmer 2.2s infinite;
  content: '';
}

.skeleton__hits {
  width: 83%;
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 0 1rem;
  gap: 2rem;
}

.skeleton__hits::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2s infinite;
          animation: shimmer 2s infinite;
  content: '';
}

.skeleton__sortBy {
  width: 100%;
  height: 2.5rem;
  background-color: #e9e9e9;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.skeleton__hitsList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
}

.skeleton__hit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0.5rem;
}

.skeleton__hit-top, .skeleton__hit-bottom {
  height: 100%;
  width: 100%;
  background-color: #e9e9e9;
  border-radius: 0.3rem;
}

.skeleton__hit-top {
  height: 16rem;
}

.skeleton__hit-bottom {
  height: 8rem;
}

@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.skeleton-mobile {
  width: 95%;
  height: 100%;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.skeleton-mobile__facets {
  display: none;
}

.skeleton-mobile__hitsList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
}
/*# sourceMappingURL=skeleton.css.map */