@use '../../../../scss/partials/' as *;

// ------------------------------------------
// SalesCard
// ------------------------------------------
.image-wrapper-sales {
  @include salesCard($white-color);
}
.image-wrapper-sales {
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .infos_influencer {
    @include infosSalesCard($white-color);
  }
}
