@use '../mixin/abstracts/abstracts.scss';

// SCSS for the Home Banner
// Big image and 2 little images
.home-banner3-container {
  position: relative;
 &__image{
   height: 50vh;
   width: 100%;
   position: relative;
   z-index: 1;
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $blue-algolia-custom-reverse-gradient-30;
    z-index: 10;
  }
   img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center 90%;
   }
 }
  &__infos {
    position: absolute;
    z-index: 20;
    left: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
    h1 {
      color: $white-color;
      font-weight: 800;
      font-size: 4rem;
    
    }
    h2 {
      color: $white-color;
      font-weight: 600;
      font-size: 1rem;
      margin-top: -1rem;
    }
  }
  &__buttons {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &__circles {
      display: flex;
      border: 1px solid rgba($color: $white-color, $alpha: 0.2);
      border-radius: 50%;
      width: 150px;
      height: 150px;
      transition: all 0.2s ease-in-out;
      &:hover{
        border: 1px solid rgba($color: $white-color, $alpha: 1);
        transition: all 0.2s ease-in-out;
      }
      &__circles2 {
        display: flex;
        border: 1px solid rgba($color: $white-color, $alpha: 0.4);
        border-radius: 50%;
        width: 130px;
        height: 130px;
        margin: auto auto;
        transition: all 0.2s ease-in-out;
        &__circles3 {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba($color: $white-color, $alpha: 0.7);
          border-radius: 50%;
          width: 110px;
          height: 110px;
          margin: auto auto;
          transition: all 0.2s ease-in-out;
          a {
            font-family: $main-font;
            text-decoration: none;
            display: flex;
            color: $white-color;
            transition: all 0.2s ease-in-out;
          }
         
        }
      }
    }
      :hover {
      div{
          border: 1px solid rgba($color: $white-color, $alpha: 1);
          transition: all 0.2s ease-in-out;
        }
        a{
        transform: scale(0.9);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
