// ------------------------------------------
// SearchBox
// ------------------------------------------
@import "../mixin/abstracts/abstracts.scss";

// A container to test the size
.search-box-container {
  width: 50%;
  margin: 0 auto;
  // SearchBox Simple with glass on the right
  .searchbox-simple {
    width: 100%;
    .searchbox-simple__form {
      width: 100%;
      display: flex;
      position: relative;
      svg {
        width: 30px;
        left: 1rem;
        top: 1.2rem;
        position: absolute;

        path {
          fill: $main-color;
        }
      }
      .searchbox-simple__form__input {
        @include searchBoxSimple($grey-light-color-20, $grey-light-color-80);
      }
      .searchbox-simple__form__input:focus {
        outline: none;
      }
      .searchbox-simple__form__input::-webkit-search-cancel-button {
        // If you want display or not cross in searchbox
        -webkit-appearance: none;
        height: 1em;
        width: 1em;
        border-radius: 50em;
        background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
          no-repeat 50% 50%;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
}
