// ------------------------------------------
// SearchBox
// ------------------------------------------
@import "../mixin/abstracts/abstracts.scss";

// SearchBox Simple with glass on the right
.searchbox-simple {
  width: 65%;
  .searchbox-simple__form {
    width: 100%;
    display: flex;
    position: relative;
    svg {
      width: 30px;
      left: 1rem;
      top: 1.2rem;
      position: absolute;

      path {
        fill: $main-color;
      }
    }
    .searchbox-simple__form__input {
      @include searchBoxSimple($white-color, $grey-light-color-80);
    }
    .searchbox-simple__form__input:focus {
      outline: none;
    }
    .searchbox-simple__form__input::-webkit-search-cancel-button {
      // If you want display or not cross in searchbox
      -webkit-appearance: none;
      height: 1em;
      width: 1em;
      border-radius: 50em;
      background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
        no-repeat 50% 50%;
      background-size: contain;
      cursor: pointer;
    }
  }
}
.searchbox-custom {
  width: 100%;
  .searchbox-custom__form {
    width: 100%;
    display: flex;
    position: relative;
    background-color: initial;
    .searchbox-custom__form__input {
      @include searchBoxCustom(
        $grey-light-color-20,
        $grey-light-color-80,
        $white-color
      );
    }
    .searchbox-custom__form__input:focus {
      outline: none;
    }
    .searchbox-custom__form__input::-webkit-search-cancel-button {
      // If you want display or not cross in searchbox
      -webkit-appearance: none;
      height: 1em;
      width: 1em;
      border-radius: 50em;
      background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
        no-repeat 50% 50%;
      background-size: contain;
      cursor: pointer;
    }
  }
  .searchbox-custom__placeholder {
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: $white-color;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0.2rem 0.5rem;
    min-width: 30%;
    p {
      font-weight: 700;
      font-size: 0.6rem;
      color: $main-color;
    }
    svg {
      width: 30px;
    }
  }
}
