// ------------------------------------------
// Header
// ------------------------------------------
@import '../mixin/abstracts/abstracts.scss';

// ------------------------------------------
// Header Sticky process
// ------------------------------------------


.header {
  text-align: center;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 0 20px $white-color;
  padding: 40px 0;
  background: $grey-light-color;
  height: 13rem;
  top: 0;
  left: 0;
  width: 100%;
  .container {
    .container__header-top {
      align-items: center;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      &__logo {
        width: 20%;
        text-align: start;
        img {
          width: 100%;
        }
      }
      &__title {
        h1 {
          font-size: 0.8rem;

          line-height: 0;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
    .container__header-bottom {
      display: flex;
      justify-content: center;
      gap: 2rem;
      &__links {
        display: flex;
        justify-content: center;
        li {
          margin-left: $two-rem-spaces;
          cursor: pointer;
          p {
            position: relative;
            transition: 0.2 ease-in-out;
            
            &:before {
              content: '';
              position: absolute;
              background-color: $grey-dark-color;
              height: 1px;
              width: 100%;
              bottom: -0.5rem;
              transform-origin: center center;
              transform: scaleX(0);
              transition: transform 0.4s;
            }
            &:hover::before {
              transition: 0.2 ease-in-out;
              transform-origin: center center;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}

.select-component {
  width: 20%;
  margin: 0 0.5rem 1rem auto;
}


// MOBILE & TABLET

.container-mobile{
  .container__header-top__logo{
    width: 35% !important;
  }
  .searchbox-container-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .ais-VoiceSearch{
      right: 8%;
    }
  }

  &__navList{
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    z-index: 99;
    background-color: $background-color;

    ul{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      margin-top: 3rem;
      padding: 1rem;

      li{
        cursor: pointer;
      }
    }
  }

  .hamburger{
    display: flex;
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: fit-content;
    flex-direction: column;
    z-index: 999;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    :nth-child(1){
      transform: translateY(-0.2rem);
    }
    :nth-child(3){
      transform: translateY(0.2rem);
    }

    &__line{
      background-color: $blue-algolia;
      height: 2px;
      width: 1rem;
    }
  }

  .hamburger-active{
    transition: 0.3s ease-in-out;
    :nth-child(1){
      transform: rotateZ(45deg) translateX(1px);
      transform-origin: center center;
      transition: 0.3s ease-in-out;
    }
    :nth-child(2){
      transform: rotateZ(-45deg) translateX(1px);
      transform-origin: center center;
      transition: 0.3s ease-in-out;
    }
    :nth-child(3){
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
  }
  .hamburger-inactive{
    transition: 0.3s ease-in-out;
    :nth-child(1){
      transform: rotateZ(0deg);
      transform: translateY(-0.2rem);
      transform-origin: center center;
      transition: 0.3s ease-in-out;
    }
    :nth-child(2){
      transform: rotateZ(0deg);
      transform-origin: center center;
      transition: 0.3s ease-in-out;
    }
    :nth-child(3){
      opacity: 1;
      transform: translateY(0.2rem);
      transition: 0.3s ease-in-out;
    }
  }
}