// ------------------------------------------
// Header
// ------------------------------------------
@import '../mixin/abstracts/abstracts.scss';

// ------------------------------------------
// Header Sticky process
// ------------------------------------------


.header {
  text-align: center;
  position: relative;
  box-shadow: 0 0 5px $white-color;
  padding: 40px 0;
  background: $grey-light-color;
  height: 13rem;
  width: 100%;
  .container {
    .container__header-top {
      align-items: center;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      &__logo {
        width: 20%;
        text-align: start;
        img {
          width: 100%;
        }
      }
      &__title {
        min-width: 20%;
        h1 {
          font-size: 0.8rem;
          line-height: 0;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
    .container__header-bottom {
      display: flex;
      justify-content: center;
      gap: 2rem;
      &__links {
        display: flex;
        justify-content: center;
        li {
          margin-left: $two-rem-spaces;
          cursor: pointer;
          p {
            position: relative;
            transition: 0.2 ease-in-out;
            
            &:before {
              content: '';
              position: absolute;
              background-color: $grey-dark-color;
              height: 1px;
              width: 100%;
              bottom: -0.5rem;
              transform-origin: center center;
              transform: scaleX(0);
              transition: transform 0.4s;
            }
            &:hover::before {
              transition: 0.2 ease-in-out;
              transform-origin: center center;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}

.select-component {
  width: 20%;
  margin: 0 0.5rem 1rem auto;
}


// MOBILE & TABLET

.container-mobile{
  .container__header-top__logo{
    width: 35% !important;
  }
  .searchbox-container-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .ais-VoiceSearch{
      right: 8%;
    }
  }

  &__navList{
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    z-index: 998;
    background-color: $background-color;

    ul{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      margin-top: 3rem;
      padding: 1rem;

      li{
        cursor: pointer;
      }
    }
  }

  .hamburger{
    @include hamburger-menu;
  }
  .hamburger-active{
  @include hamburger-menu-active;
  }
  .hamburger-inactive{
 @include hamburger-menu-inactive;
  }
}

