// ------------------------------------------
// Header
// ------------------------------------------
@use '../mixin/abstracts' as *;

// ------------------------------------------
// Header Sticky process
// ------------------------------------------

.header {
  text-align: center;
  box-shadow: 0 0 20px $white-color;
  padding: 40px 0;
  background: $grey-light-color;
  height: 13rem;
}

.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  box-shadow: 0 20px 30px rgba(#000, 0.2);
  animation: slide 0.3s forwards ease-in-out;
  background: $grey-light-color;

  label {
    font-weight: bold;
    text-transform: uppercase;
  }
}

@keyframes slide {
  0% {
    opacity: 1;
    height: 13rem;
  }
  100% {
    opacity: 1;
    height: 12rem;
  }
}

// ------------------------------------------
// ------------------------------------------

// ------------------------------------------
//Inside Header
// ------------------------------------------
.header {
  .container {
    .container__header-top {
      align-items: center;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      &__logo {
        width: 20%;
        text-align: start;
        img {
          width: 80%;
        }
      }
      &__title {
        h1 {
          font-size: 0.8rem;

          line-height: 0;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
    .container__header-bottom {
      &__links {
        display: flex;
        justify-content: center;
        li {
          margin-left: $two-rem-spaces;
          cursor: pointer;
          p {
            position: relative;
            transition: 0.2 ease-in-out;
            &:before {
              content: '';
              position: absolute;
              background-color: $grey-dark-color;
              height: 1px;
              width: 100%;
              bottom: -0.5rem;
              transform-origin: center center;
              transform: scaleX(0);
              transition: transform 0.4s;
            }
            &:hover::before {
              transition: 0.2 ease-in-out;
              transform-origin: center center;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}

.select-component {
  width: 20%;
  margin: 0 0.5rem 1rem auto;
}
