@use '../mixin/abstracts' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 15rem;
  margin-top: 0.5rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


