@use '../mixin/abstracts' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  margin-top: 2rem;
  background: $blue-algolia-custom-reverse-gradient;

  p {
    font-weight: bold;
    font-size: 2rem;
  }
}
