@import '../mixin/abstracts/abstracts.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  margin-top: 0.5rem;
  background: $blue-algolia-custom-gradient;

  p {
    font-weight: bold;
    font-size: 2rem;
    color: $white-color;
  }
}

.wrap {
  position: fixed;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 1.4em;
  padding-right: 1.4em;
}
h1 {
  text-align: center;
  border: 2px solid #ddd;
  padding: 1em;
  margin-bottom: 1em;
}

h2 {
  border-bottom: 1px solid #ddd;
}

a {
  text-decoration: none;
  color: #2ecc71;
}
a:hover {
  color: #27ae60;
}

/* Alert Box CSS */

/* Base Alert Style */
.alert {
  font-family: $main-font;
  font-weight: 800;
  position: relative;
  display: block;
  padding: 1em 1.8em;
  font-size: 0.9em;
  line-height: 1.2;
  text-align: left;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  background: transparent;
  color: white;
}

/* Info */
.alert-info {
  background: $blue-algolia;
  border: 1px solid $blue-algolia;
  opacity: 0.8;
}

/* Radius */
.radius {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  .cross {
    cursor: pointer;
  }
}
