@import '../mixin/abstracts/abstracts.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  margin-top: 0.5rem;
  background: $blue-algolia-custom-gradient;

  p {
    font-weight: bold;
    font-size: 2rem;
    color: $white-color;
  }
}

.wrap {
  position: fixed;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 1.4em;
  padding-right: 1.4em;
}





