// ------------------------------------------
// PDP
// ------------------------------------------
@use '../../../scss/partials' as *;

.pdp {
  position: relative;
  height: 100%;
  &__wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
  }

  &__left {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imageWrapper {
      width: 50%;
      margin: 0 auto;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
  &__backBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    svg {
      width: 8px;
    }
  }
  &__right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__infos {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      gap: 1rem;
      .brand {
        @include brand($main-color);
        font-size: 1.2rem;
        text-transform: capitalize;
      }
      .name {
        @include productName($grey-dark-color)
      }
      .color {
        display: flex;
        align-items: center;
        gap: 1rem;
        p{
          @include colorName($main-color)
        }
      }
      .add-to-cart {
        @include btn($purple-algolia-custom-gradient, $white-color);
        margin-top: 5rem;
        gap: 1rem;
        width: 8rem;
        &:hover{
          @include btn-hover($purple-algolia-custom-gradient, $white-color);
          gap: 1.5rem;
        }
        svg{
          width: 12px;
        }
        p{
          @include p-text($white-color);
          font-size: 0.8rem;
        }
        
      }
      .price {
        @include price($purple-algolia);
        font-size: 2rem;
      }
      .sizes {
        font-weight: bold;
        width: 100%;
        margin-top: 5rem;
        .sizeList {
          display: flex;
          align-items: center;
          gap: 1rem;
          width: 100%;
          flex-wrap: wrap;
        }
        .size {
          border: 1px solid $grey-dark-color-20;
          margin-top: 1rem;
          padding: 0.3rem 1rem;
          min-width: 20%;
          flex-wrap: wrap;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }
}
// MOBILE & TABLET
.pdp-mobile {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__backBtn {
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    gap: 0.5rem;
    svg {
      transform: translateY(1px);
      width: 14px;
      height: 14px;
    }
  }
  &__left {
    width: 100%;
  }
  &__right {
    width: 100%;
    .pdp__right__infos {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .auc-Recommend-container {
    .auc-Recommend-list {
      display: block;
      flex-wrap: nowrap;
      display: -webkit-box;
      overflow-x: scroll;
      padding: 1rem 0rem;
      list-style-type: none;
      .auc-Recommend-item {
        width: 40%;
      }
    }
  }
}
