// ------------------------------------------
// Home Carousel
// ------------------------------------------
@use '../mixin/abstracts' as *;

.home-carousel {
  margin: 2rem 4rem;
  h3 {
    color: $blue-algolia;
    font-size: 2rem;
    font-weight: 800;
  }
  .carousel {
    cursor: grab;
    overflow: scroll;

    &__imageWrapper{
      max-width: 60%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      img {
        width: 100%;
        height: 70%;
        margin: 0 auto;
        pointer-events: none;
        object-fit: cover;
      }
    }
    .inner-carousel {
      display: flex;
      .item {
        min-width: 30%;
        padding: 1rem;
        position: relative;
      

        &__infos{   
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        height: 6rem;
        .name {
          color: $main-color;
          font-size: 0.8rem;
          text-align: center;
          margin-top: 1rem;
          text-transform: capitalize;
        }
        .price {
          color: $blue-algolia;
          font-size: 1.2rem;
          font-weight: 600;   
        }
      }
      }

    }
  }
}
.carousel::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


// MOBILE & TABLET

.home-carousel-mobile{
  margin: 2rem 1rem;
  h3 {
    color: $blue-algolia;
    font-size: 1.2rem;
    font-weight: 800;
  }
  .carousel {
    cursor: grab;
    overflow: scroll;

    &__imageWrapper{
      max-width: 100%;
      img {
        width: 100%;
        height: 70%;
        pointer-events: none;
        object-fit: cover;
      }
    }
    .inner-carousel {
      display: flex;
      .item {
        min-width: 30%;
        padding: 1rem;
        position: relative;
      

        &__infos{   
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        height: 8rem;
        .name {
          color: $main-color;
          font-size: 0.8rem;
          text-align: center;
          margin-top: 1rem;
          text-transform: capitalize;
        }
        .price {
          color: $blue-algolia;
          font-size: 1.2rem;
          font-weight: 600;   
        }
      }
      }

    }
  }
}
