// ------------------------------------------
// Home Carousel
// ------------------------------------------
@use '../mixin/abstracts' as *;

.home-carousel {
  margin: 10% 10%;
  h3 {
    color: $blue-algolia;
    font-size: 2rem;
    font-weight: 800;
  }
  .carousel {
    cursor: grab;
    overflow: scroll;
    .inner-carousel {
      display: flex;
      .item {
        min-width: 30%;
        padding: 1rem;
        position: relative;
        img {
          width: 100%;
          height: 70%;
          pointer-events: none;
        }

        &__infos{   
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        height: 7rem;
        .name {
          color: $orange-color;
          font-weight: 400;
          text-align: center;
          margin-top: 0.5rem;
        }
        .price {
          color: $blue-algolia;
          font-size: 1.2rem;
          font-weight: 600;   
        }
      }
      }

    }
  }
}
.carousel::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
