@import './mixin/abstracts/abstracts.scss';

// Import Banners for the Home
@import './banners/homeBanner.scss';
@import './banners/homeBanner2.scss';
@import './banners/homeBanner3.scss';

// Import components
@import './searchBox/searchBox.scss';
@import './header/header.scss';
@import './voicesearch/voicesearch.scss';
@import './searchresultspage/searchresultspage.scss';
@import './hits/hits.scss';
@import './federatedSearch/federatedSearch.scss';
@import './productDetailsPage/productDetails.scss';
@import './searchresultspage/currentRefinement.scss';
@import './homepage/homeCarousel.scss';
@import './footer/footer.scss';
@import './recommend/recommend.scss';
@import './loader/loader.scss';

// Use BEM, to naming class
// https://css-tricks.com/bem-101/
/* Block component */ // .btn {}
/* Element that depends upon the block */ // .btn__price {}
/* Modifier that changes the style of the block */ // .btn--orange {}
// .btn--big {}
// Main Styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  // overflow-x: hidden !important;
  overflow: auto;
}
body {
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
p,
span,
input,
input::placeholder,
span {
  font-family: $main-font;
  color: $main-color;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
  color: $main-color;
  font-family: $main-font;
}

h3 {
  text-transform: uppercase;
}

.homepage {
  margin-top: 13rem;
}

.srp-container, .srp-container-mobile {
  margin-top: 14rem;
}

.hidden{
  @include hidden;
}

.visible{
  @include visible
}
