@use './mixin/abstracts' as *;

// Import Banners for the Home
@use './banners/homeBanner.scss';
@use './banners/homeBanner2.scss';
@use './banners/homeBanner3.scss';

// Import components
@use './searchBox/searchBox.scss';
@use './header/header.scss';
@use './voicesearch/voicesearch.scss';
@use './searchresultspage/searchresultspage.scss';
@use './hits/hits.scss';
@use './federatedSearch/federatedSearch.scss';
@use './productDetailsPage/productDetails.scss';
@use './searchresultspage/currentRefinement.scss';
@use './homepage/homeCarousel.scss';
@use './footer/footer.scss';
@use './helpNavigation/helpNavigation.scss';
@use './recommend/recommend.scss';
@use './loader/loader.scss';
@use './demoTour/demoTour.scss';
@use './appliedRules/appliedRules.scss';

// Use BEM, to naming class
// https://css-tricks.com/bem-101/
/* Block component */ // .btn {}
/* Element that depends upon the block */ // .btn__price {}
/* Modifier that changes the style of the block */ // .btn--orange {}
// .btn--big {}
// Main Styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  // overflow-x: hidden !important;
  // overflow: auto;
}
body {
  overflow: auto;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
p,
span,
input,
input::placeholder,
span {
  font-family: $main-font;
  color: $main-color;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
  color: $main-color;
  font-family: $main-font;
}

h3 {
  text-transform: uppercase;
}

.hidden{
  @include hidden;
}

.visible{
  @include visible
}
