// ------------------------------------------
// RECOMMEND
// ------------------------------------------
@use '../../../scss/partials' as *;

// ------------------------------------------
// RELATED PRODUCT
// ------------------------------------------

.recommend {
  margin: 2rem 2rem;

  .title {
    @include titleH3($second-color);
  }

  .auc-Recommend-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding: 1rem 0rem;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }

  .uic-HorizontalSlider-navigation {
    align-items: center;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.44);
    color: $second-color;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    outline-color: transparent;
    padding: 0;
    position: absolute;
    top: 35%;
    transition: opacity 0.15s;
    width: 32px;
    z-index: 1;
  }

  .uic-HorizontalSlider-list {
    padding: 1rem 1rem;
    gap: 1rem;
    grid-auto-columns: 19%;
  }

  .auc-Recommend-title {
    display: none;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .auc-Recommend-item {
    width: 20%;
  }

  .relatedItem {
    @include hit($main-color, $second-color, $second-color, $second-color);
    position: relative;

    &__infos {
      @include productName($grey-dark-color);

      .brand {
        @include brand($main-color);
      }
      .price {
        @include price($second-color);
      }
    }
  }
}

// ------------------------------------------
// MOBILE
// ------------------------------------------

.recommend-mobile {
  .uic-HorizontalSlider-list {
    grid-auto-columns: 40%;
  }
}

@media (max-width: 460px) {
  .uic-HorizontalSlider-list {
    grid-auto-columns: 60% !important;
  }
}

.item__infos-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.cart {
  background-color: $second-color;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin-top: 0.3rem;
    width: 1.2rem;
    height: 100%;
    path {
      fill: $background-color;
    }
  }
  &-active {
    animation: bounce 0.3s ease-in-out forwards;
  }
}
