@use '../../../scss/partials' as *;

// ------------------------------------------
// Header
// ------------------------------------------
.header {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 2rem 0;
  background-color: $background-color;
  .container {
    width: 90%;
    margin: 0 auto;
    .container__header-top {
      position: relative;
      align-items: center;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;

      a {
        position: relative;
        width: 100%;
        height: 100%;
      }
      &__logo {
        width: 100%;
        min-height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          margin: 0 auto;
          width: 90%;
          height: 100%;
        }
      }
      &__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 5rem;
        min-width: 40%;
        h1 {
          @include titleH3($second-color);
          // font-size: 0.9rem;
          text-transform: capitalize;
          margin: 0px;
        }
      }
    }
    .container__header-nav {
      width: 100%;
      &__links {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: clamp(0.5rem, -1.12rem + 4.13vw, 2rem);
        li {
          z-index: 50;
          cursor: pointer;
          p {
            position: relative;
            transition: 0.2 ease-in-out;
            @include p-text($main-color, 800);
            font-size: clamp(0.6rem, 0.07rem + 1.03vw, 1rem);
            @include underliningAnimation($second-color);
          }
          .selected {
            @include selectedNavItem($second-color);
          }
        }
        .picto-cart {
          position: relative;
          .notification-cart {
            position: absolute;
            background-color: $second-color;
            top: -1rem;
            right: -0.6rem;
            border-radius: 50%;
            width: 1.7rem;
            height: 1.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(1);
            span {
              color: $white-color;
            }
          }
          svg {
            width: 1.9rem;
            height: 1.9rem;
          }

          body {
            font: 1em sans-serif;
            text-align: center;
        }
        .stage {
            border-bottom: 3px solid #444;
            display: flex;
            height: 330px;
            width: 100%;
        }
        .box {
            align-self: flex-end;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            background-color: #F44336;
            height: 200px;
            margin: 0 auto 0 auto;
            transform-origin: bottom;
            width: 200px;
            transition: transform 0.3s ease-in-out;
            
        }
        &__active {
            animation: bounce 0.3s ease-in-out forwards;
        }
 
    
        }
      }
      .container__header-nav-selectors {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(0.5rem, -1.12rem + 4.13vw, 2rem);
      }
    }
  }
}

// MOBILE & TABLET
.header {
  .container-mobile {
    .container__header-top {
      margin-top: 1rem;
      padding: 0 1rem;

      &__title {
        width: 30%;
        h1 {
          display: none;
        }
      }
    }
    .container__header-top__logo {
      width: 35% !important;
    }
    .searchbox-container-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;

      .ais-VoiceSearch {
        right: 8%;
      }
    }

    &__navigation-wp{
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur( 2px );
      -webkit-backdrop-filter: blur( 2px );
      z-index: 994;
    }

    &__navList {
      position: absolute;
      top: 0;
      left: 0;
      width: 60vw;
      height: 100vh;
      z-index: 994;
      background-color: $background-color;

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1.5rem;
        margin-top: 8rem;
        padding: 1rem 2.5rem;

        li {
          cursor: pointer;
          text-align: left;
          p {
            position: relative;
          }
        }
        .container__header-nav-selectors{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 1.5rem;
        }
       
        .selected {
          &::before {
            content: '';
            position: absolute;
            background-color: $grey-dark-color;
            height: 1px;
            width: 100%;
            bottom: -0.5rem;
            transform: scaleX(1);
          }
        }
      }
    }
    .picto-cart {
      display: flex;
      .notification-cart {
        margin-left: 1rem;
        background-color: $second-color;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: $background-color;
          font-weight: 600;
        }
      }
    }
  }
  .hamburger {
    @include hamburger-menu;
  }
  .hamburger-active {
    @include hamburger-menu-active;
  }
  .hamburger-inactive {
    @include hamburger-menu-inactive;
  }
}


@keyframes bounce {
0%{
  transform: scale(0.90);
}
50%{
  transform: scale(1.02);
}
100%{
  transform: scale(1);
}
}
