@use '../../../scss/partials' as *;




// ------------------------------------------
// Header
// ------------------------------------------
.header {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 2rem 0;
  background-color: $background-color;
  .container {
    .container__header-top {
      position: relative;

      align-items: center;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      a{
        position: relative;
        width: 100%;
        height: 100%;
      }
      &__logo {
        width: 100%;
        min-height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          margin: 0 auto;
          width: 70%;
          height: 100%;
        }
      }
      &__title {
        min-width: 40%;
        display: flex;
        justify-content: flex-start;
        min-height: 5rem;
        h1 {
         @include titleH3($purple-algolia);
         font-size: 1.2rem;
         text-transform: capitalize;
        }
      }
    }
    .container__header-nav {
      &__links {
        display: flex;
        justify-content: center;
        gap: 2rem;
        li {
          z-index: 50;
          cursor: pointer;
          p {
            position: relative;
            transition: 0.2 ease-in-out;
            @include p-text($main-color, 800);
            @include underliningAnimation($purple-algolia)
          }
          .selected {
            @include selectedNavItem($purple-algolia)
          }
        }
      }
      .container__header-nav-selectors{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }
    }
  }
}




// MOBILE & TABLET
.header{
.container-mobile {
  .container__header-top {
    margin-top: 1rem;
    padding: 0 1rem;
  }
  .container__header-top__logo {
    width: 35% !important;
  }
  .searchbox-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .ais-VoiceSearch {
      right: 8%;
    }
  }

  &__navList {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    z-index: 998;
    background-color: $background-color;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      margin-top: 3rem;
      padding: 1rem;

      li {
        cursor: pointer;
        p{
          position: relative;
        }
      }
      .selected {
        &::before {
          content: '';
          position: absolute;
          background-color: $grey-dark-color;
          height: 1px;
          width: 100%;
          bottom: -0.5rem;
          transform: scaleX(1);
        }
      }
    }
  }
}
  .hamburger {
    @include hamburger-menu;
  }
  .hamburger-active {
    @include hamburger-menu-active;
  }
  .hamburger-inactive {
    @include hamburger-menu-inactive;
  }
}
