// ------------------------------------------
// SearchBox
// ------------------------------------------
@use '../../../scss/partials' as *;

.searchbox-container {
  min-width: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  .searchbox {
    width: 80%;
    will-change: width;
    transition: width 0.2s cubic-bezier(0.73, 0, 0.12, 1.5);
    &__form {
      margin: 1rem auto;
      width: 100%;
      display: flex;
      position: relative;
      .glass  {
        width: 30px;
        left: 1rem;
        top: 0rem;
        position: absolute;

        path {
          fill: $main-color;
        }
      }
      .closeBtn{
        width: 10px;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        cursor: pointer;
      }
      &__input {
        @include searchBoxInput($white-color, $grey-light-color-80);
        
      }
    }
    &__category {
      position: absolute;
      width: clamp(20%, 40%, 50%);
      height: 99%;
      top: 0;
      right: 0rem;
      border-radius: 2px 3rem 3rem 2px;
      padding: 0.4rem 1rem;
      background: $second-color-custom-gradient;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      align-items: center;
      text-transform: capitalize;

      span {
        cursor: pointer;
      }
      p {
        @include p-text($white-color);
        font-size: clamp(0.5rem, 0.17rem + 0.64vw, 0.75rem);
      }
      svg {
        // border: 1px solid #000000;
        background: $background-color ;
        width: 20px;
        height: 20px;
        border-radius: 10px;
       
      }

      &__close-btn {
        position: absolute;
        top: -5px;
        right: -5px;
      }
    }
    &__category-raw{
      width: 60%;
    }

    &__tooltip{
      position: absolute;
      top: -2rem;
      left: 0;
      padding: 0.3rem 0.5rem;
      background: $second-color-custom-gradient;
      opacity: 1;
      border-radius: 0.2rem;
      transition: opacity 0.3s ease-in-out;

      p{
        @include p-text($white-color, 300);
        font-size: 0.5rem;
      }

    }
  }
  .searchboxCategory {
    width: 50%;
  }

  .searchbox-active {
    width: 100%;
    will-change: width;
    transition: width 0.2s cubic-bezier(0.73, 0, 0.12, 1.5);
  }
  .searchbox-category {
    width: 80%;
  }
}
